[2015-02-21 14:24] Haroenv opened #1 "Video doesn't play smoothly"
Safari, OSX Yosemite 10.10.2

The example on plyr.io doesn't play smoothly, when clicking on the fast-forward, it skips in time back and forward the complete rest of the video

[2015-02-21 23:29] SamPotts commented on #1
Hey there @Haroenv, Sorry to hear that.

Plyr is really just a wrapper for the HTML5 native player so it could be an issue with the demo movie file, Safari playing up, your computer load, or your connection possibly. Are other videos having issues such as Vimeo? https://vimeo.com/108792063 (They also use a native <video> element). I get it sometimes if my CPU is getting smashed.

Anyhow, I've push

[2015-02-22 10:40] Haroenv commented on #1
It still exhibits the same problem, but now the cause is clearer. The blue bar continues, even when not enough is buffered, this problem doesn't happen on vimeo, even skipping parts doesn't cause problems.

I took a screen recording of it showing the problem [here](https://vid.me/xiDU)

[2015-02-22 11:04] meckhardt opened #2 "eBay in license"
Wondering why eBay appears in  license text.

[2015-02-22 11:05] SamPotts commented on #2
Ah, I used their default license. Will update. Cheers.

[2015-02-22 11:05] #2 closed

[2015-02-22 23:33] SamPotts commented on #1
I'll do some more digging. Thanks for the vid. This might be an issue with the native <video> element that there's a work around for. I'll work something out and get back to you.

[2015-02-23 11:36] servermeta opened #3 "Seamless playlists"
Great player guys!

Since I work with browser video, having tried most of the players around, one thing that is consistently missing is support for native playlist.

Let's make an example: I split a 60 minutes long video in 6 videos of 10 minutes, to reduce load on server AND client. I want to automatically play one video after the other, without the user noticing that they are multiple videos.

N

[2015-02-23 23:00] brunowego opened #4 "SASS Support"
I really like this player, what you think add support for sass? Will be nicer for developers like me who loves SASS. :+1:

[2015-02-23 23:03] SamPotts commented on #4
For sure. It's not my native CSS preprocessor but I will take a look. It's something I want to learn.

[2015-02-23 23:04] SamPotts commented on #3
Great idea. I'll look at this as soon as I can.

[2015-02-23 23:13] brunobatista opened #5 "Minified CSS and JS"
For debug purpose I think will better add in bower the non-minified files.

[2015-02-23 23:14] brunobatista commented on #4
Thanks for your attention @SamPotts.

[2015-02-24 01:41] SamPotts commented on #5
Good idea. I've updated bower.json to include the source files. Let me know if there's any problems.

Cheers!

[2015-02-24 01:41] #5 closed

[2015-02-24 01:43] brunobatista commented on #5
Thanks again @SamPotts, think this small details will help us to build better with debug on!

[2015-02-24 02:26] SamPotts commented on #5
No problem at all. Let me know if you find anything else or ideas you have :+1:

[2015-02-25 16:58] joesepi commented on #3
And perhaps related: audio playlist

[2015-02-25 22:49] Rtransat opened #6 "Fix display with bootstrap"
Hi,

This player is beautiful :). May be you can add the compatibility with bootstrap ? Actually, if I import the bootstrapp css, area of volumne is not displayed correctly.

Some example :

[code]

[2015-02-26 03:18] nahtnam opened #8 "Play YouTube and Vimeo"
Is there any way we can use youtube videos instead of html5 videos?

Thanks.

[2015-02-26 09:34] tomByrer commented on #4
Is the LESS rendered in-browser?

[2015-02-26 09:36] SamPotts commented on #4
Hey Bruno, I'll take a look at your pull request in a little bit. I'm sure it'll be fine. My only worry is supporting both LESS and SASS.

Hey Tom, nope. I've got a gulpfile that I use to render it for local testing along with the generation of the SVG sprite etc. It doesn't do anything too fancy. I'll add the SASS build into it too.

[2015-02-26 09:36] SamPotts commented on #6
Thanks for this. I'll look into it.

[2015-02-26 09:37] tomByrer commented on #3
Issues I'm worried about:
- not enough memory/cache to hold 2 videos in a row, so has to flush &/or download
- browser can't or CPU not strong enough to switch out at 30FPS

Might be a reason why video players with years of development aren't seemless.

[2015-02-26 09:39] SamPotts commented on #8
We definitely could. It would probably have to be some sort of module/add I'd say as not everyone would want it but it would definitely be a plus. The YouTube player would have to be rendered as an iframe and the YouTube API used to control it. It can be done. I'll look into it. The same would apply for Vimeo I'd imagine. For obvious reasons they don't expose the raw files although services exist

[2015-02-26 09:40] tomByrer opened #9 "Sprite sheet?"
Could all the SVG be concocted & minified as 1 file ("sheet")?  Fewer HTTP requests, better for compression, etc

[2015-02-26 09:42] SamPotts commented on #3
Hey Joe, I'd probably look at the two as one ticket item.

Hey Tom, very good points. My original thoughts were to use the preload attribute on the element to prefetch some of the next media. That way it would play instantly. That would mean two video/audio elements on the page though. It needs some more thought...

[2015-02-26 09:44] servermeta commented on #3
it is quite the opposite, if used well it will reduce ram and cpu,
especially for long videos.

Hold on, tonight (8 hours from now) I will post you some benchmark, because
we tested some at work to evalute different options.

On Thu, Feb 26, 2015 at 10:42 AM, Sam Potts <notifications@github.com>
wrote:

[2015-02-26 09:44] SamPotts commented on #9
Hey Tom, yes we already do this. If you check the `dist` directory, there's a file `sprite.svg`. This contains all the SVG defs and then the default controls icons call the defs using `<use>`.

[2015-02-26 09:45] SamPotts commented on #9
Checkout the `gulpfile.js` to see how the build works. The LESS to CSS and JS compression all happens there. Gulp is awesome (if you've not used it!).

[2015-02-26 09:46] SamPotts commented on #3
That would be good to see @servermeta !

[2015-02-26 15:59] joesepi opened #10 "Audio playlist"
It would be great to have playlist functionality. If I get a chance, I will dig in and see if I can PR a working version.

[2015-02-26 16:26] tomByrer commented on #9
Note to self; don't post bug reports after Midnight; might confuse `/src` with `/dist`  :fearful:

[2015-02-26 16:26] #9 closed

[2015-02-26 16:30] tomByrer commented on #4
Someone should make a pre-pre-parser, so it can be re-compiled into LESS, SASS, Stylus, Styl...

[2015-02-27 12:54] mkrogh opened #34 "Plyr does not react to "native" events"
In chrome when right-clicking on the video you can use the native html5 player controls to pause, mute. This is a good ting, but plyr does not reflect the changes.

If you pause the player via native plyr will still show the video as playing (Pause icon). When you click the plyr pause icon the video remains paused, and you have to click one more time to trigger playback again.

Observed in Chrome

[2015-02-27 12:58] SamPotts commented on #34
Thanks for this. I'll fix this tomorrow.

[2015-02-27 12:59] mkrogh commented on #34
Nice, thanks it looks nice otherwise :+1:

[2015-02-27 13:01] SamPotts commented on #10
No worries. I was going to take a look at this tomorrow but feel free.

[2015-02-27 13:36] #34 closed

[2015-02-27 23:43] #6 closed

[2015-02-28 02:11] SamPotts commented on #34
Let me know if you run into any more issues :+1:

Cheers!

[2015-02-28 02:11] SamPotts commented on #6
Let me know if you run into any more issues :+1:

Cheers!

[2015-02-28 02:16] SamPotts commented on #9
Haha no worries! :+1:

[2015-03-01 07:44] chrismccoy opened #35 "requires docs.js"
player doesnt work without the javascript docs.js, anyway around this?

[2015-03-01 08:06] SamPotts commented on #35
Hey there,

`docs.js` just contains the demo code to setup the player. If you don't call the `setup` method then it won't work- this is where you pass any custom options to plyr. The section below in `docs.js` which calls the setup method. The only required parameter is `html` but if you read the docs you can find out more about how it all works.

[code]

[2015-03-01 08:06] #35 closed

[2015-03-01 09:34] #4 closed

[2015-03-01 09:37] SamPotts commented on #4
Hey Bruno, just pushed 1.0.17 with your SASS file in (with slight amend for #6 ). I've not included the SASS files for docs since they will just add extra maintenance there and be less useful for users. I've also separated the core Plyr files from docs to clean things up. I think it makes sense?

[2015-03-01 15:40] chrismccoy commented on #35
says templates is undefined, i think its looking for hogan?

[2015-03-01 23:12] SamPotts commented on #35
Might be worth having a read of [controls.md](controls.md) and the general docs [readme.md](readme.md). You don't have to use Hogan.

[2015-03-02 01:30] srsgores opened #36 "Add loading animation"
On chrome for android, lollipop, I tap play, but the black media background lingers.  We should add a loading animation to communicate with the user that the media is downloading.

[2015-03-02 02:09] SamPotts commented on #36
Good idea. Should be pretty quick to do as well. I'll look at this asap.

[2015-03-02 02:41] taug opened #37 "Play local video"
Could I use this html5 player to play a local video by selecting in file system?

[2015-03-02 03:10] SamPotts commented on #37
Hey tuag,

Yes that would be possible but you might have to do something like this:
http://stackoverflow.com/questions/8885701/play-local-hard-drive-video-file-with-html5-video-tag

Cheers

[2015-03-02 03:16] SamPotts commented on #10
Hey Joe, going to merge this with #3 and take a look in one hit.

[2015-03-02 03:16] #10 closed

[2015-03-02 04:03] taug commented on #37
Thanks for your answer.

[2015-03-02 05:56] nahtnam commented on #8
It would be great to see it implemented. I think a lot of people would
actually use this because the only other solution is to pay for this:
http://embed.ly/

On Thu, Feb 26, 2015 at 1:40 AM Sam Potts <notifications@github.com> wrote:

[2015-03-02 08:07] Psycojoker opened #38 "Fullscreen doesn't work on firefox 35"
Hello,

I'm not able to make plyr go fullscreen on firefox 35 (even on the demo page). The web debugging console doesn't show any error. I've tested it on a firefox with a totally new clean profile so extensions can't get in the way.

Cheers,

[2015-03-02 08:44] SamPotts commented on #38
Thanks for reporting. I'll look at this now.

[2015-03-02 09:17] SamPotts commented on #38
This should be fixed now. Thanks for reporting. Let me know if you find anything else! :+1:

[2015-03-02 09:51] Psycojoker commented on #38
Works like a charm, thanks for your very fast fix :)

[2015-03-02 18:13] zyxep opened #39 "Adaptive streaming options."
Hi.

I would love to see adaptive streaming support for VOD and Live.
Read about it here: http://www.wowza.com/forums/content.php?546

[2015-03-03 13:42] jocelynthode opened #40 "Seeking in the video"
Hey, nice video player :)

I think stopping the video while seeking in it would be a good thing to have. Having the seconds displaying where the seek will be when released would be a goo thing too.

For example I'm at 0:16 I start seeking and want to go to 0:30. When my cursor is on 0:30 while seeking the counter should show "0:30"

[2015-03-03 13:44] edap commented on #8
Yes, it would be great, or at least, one of the reason I would love to switch to plyr

[2015-03-03 14:44] riaan53 opened #42 "Seek on drag"
Hi,

I like the player a lot specially the smooth responsive part! One thing, I see that the seekbar is set on mouse up and would like it to be draggable, this is important for mobile/cordova as well.

Can it be easily done or not?

Thank you!

Regards,
Riaan

[2015-03-03 14:54] slapresta opened #43 "Dragging the volume control does not change the volume until released"
Not sure if this is an enhancement or a bug. Assuming the latter. Safari 8.0.3, OS X 10.10.2.

Keep up the good work!

[2015-03-03 15:18] martindale opened #44 "API For Changing Sources"
It'd be nice if something like `player.source('some new url')` could be called to stop and remove whatever is currently playing, then replace it with a new source without re-instantiating the player.  Fullscreen would be preserved if it was turned on, as would audio levels.

[2015-03-03 15:20] martindale commented on #8
VideoJS has [a plugin that does this](https://github.com/eXon/videojs-youtube), but it seems they use the iframe rendering option in most cases.

[2015-03-03 15:52] dvdheiden commented on #44
+1 for this. Might be related to: https://github.com/Selz/plyr/issues/3. A playlist would require the player to switch sources anyway.

[2015-03-03 16:00] martindale opened #45 "Controls Defaults"
It seems like one has to write their own controls to get this working at all.  Some sane defaults should be provided.

[2015-03-03 18:12] adantzler opened #46 "WebVTT files to load Tooltip Thumbnails"
Plyr.io looks awesome!  Great work!
When we encode our videos we generate a VTT file and include thumbnails in it.

We are currently using JWPlayer and it's format we follow is below:

WEBVTT

00:00.000 --> 00:05.000
/assets/preview1.jpg

00:05.000 --> 00:10.000
/assets/preview2.jpg

00:10.000 --> 00:15.000
/assets/preview3.jpg

00:15.000 --> 00:20.000
/assets/preview4.jpg

[2015-03-03 20:39] SamPotts commented on #42
Hey Riaan,

Good suggestion. It should be possible. I'd have to overlay an `<input type="range">` over the top of the progress I think but let me have a think and get back to you. There might be a better way. Definitely do-able though.

[2015-03-03 20:41] master-lincoln opened #47 "Add option to hide controls in fullscreen"
Would be awesome to hide the controls in fullscreen if mouse wasn't moved a certain time and re-show them on mouse move.

[2015-03-03 20:45] SamPotts commented on #40
Thanks @jocelynthode , I'll take a look at this. Should be pretty straight forward.

[2015-03-03 20:46] SamPotts commented on #44
Great idea. I'll look into it. It would need to accept an array I'd think for multiple formats as well. Easily done though.

Cheers!

[2015-03-03 20:47] SamPotts commented on #39
Hey @zyxep , I'll look into how feasible this is and get back to you.

[2015-03-03 20:56] SamPotts commented on #45
Hey @martindale , my aim was to avoid including them to keep the size down but I can't see the size increasing too much thinking about it. I'll add them now though.

[2015-03-03 20:59] joesepi commented on #10
My bad. I misread your comment in #3 to mean that you wanted me to open a new issue. Thanks, regardless.

[2015-03-03 21:03] SamPotts commented on #43
Hey @slapresta , I'll put a fix in for this now. Cheers for letting me know!

[2015-03-03 21:05] SamPotts commented on #47
Hey @master-lincoln ,

Good suggestion and relatively easy to add. My only concern was keyboard users but some clever focus event detection should solve that. I'll look into it. We actually do it on selz.com (check the homepage vid) so I've already written the CSS but an option would be good.

[2015-03-03 21:09] SamPotts commented on #43
Fixed in v1.0.20!

[2015-03-03 21:09] #43 closed

[2015-03-03 21:10] SamPotts commented on #45
Added them into v1.0.20. Cheers

[2015-03-03 21:10] #45 closed

[2015-03-03 21:10] #37 closed

[2015-03-03 21:11] SamPotts commented on #46
Hey @adantzler,

Thanks! Nice idea. I'll have a look at implementing something for sure. :+1:

[2015-03-03 21:18] master-lincoln commented on #47
I didn't have that effect on selz.com. Checked with Chromium 40 and Firefox 36 on Linux.

[2015-03-03 21:37] jocelynthode commented on #40
@SamPotts : Thanks or maybe try something like the youtube player does (it just make a small popup on the cursor with the precise time in the seek)

[2015-03-03 21:41] adantzler commented on #46
That's awesome, let me know if I can help in any way.

On Tue, Mar 3, 2015 at 4:12 PM, Sam Potts <notifications@github.com> wrote:

[2015-03-03 22:04] martindale commented on #45
Awesome.  Thanks!

[2015-03-03 23:41] SamPotts commented on #47
Sorry you're right. Because it's a purely CSS solution I put in there it's based on :hover so if you can hover out (you'd need multiple screens) it'd slide down. I'll work on a JS based solution (with class hook) for this to monitor mouse move.

[2015-03-04 00:06] SamPotts opened #48 "Improve playback progress"
Raised on hacker news:
https://news.ycombinator.com/item?id=9139633

[2015-03-04 00:28] SamPotts opened #49 "Better icons for captions and restart playback"
Raised by a few people on hacker news

[2015-03-04 00:36] SamPotts opened #50 "Option for tooltips for buttons"
Another one from hacker news. An option to render the sr-only labels as tooltips instead.

[2015-03-04 02:50] nahtnam commented on #8
Would be cool for plyler to have this as well.

On Tue, Mar 3, 2015, 7:20 AM Eric Martindale <notifications@github.com>
wrote:

[2015-03-04 03:10] Suxiaogang opened #51 "use Font Awesome Icons instead of SVG"
Thank you for the simple but cool jobs ~

And it woild be great if font-awesome icons are optional for the controls icons.
http://fontawesome.io/icons/#video-player

[2015-03-04 03:24] martindale commented on #8
If it's possible to use a native `video` element, that would be vastly preferred to the iframe solution.

[2015-03-04 03:36] SamPotts commented on #51
Without going into too much detail, SVG is my preferred option now. Icon webfonts often don't look as crisp. If you're set on using fontawesome, I'd suggest using custom controls using the `html` parameter.

For more info on why SVG is better:
https://css-tricks.com/icon-fonts-vs-svg/

[2015-03-04 03:36] #51 closed

[2015-03-04 03:40] SamPotts commented on #8
I'd also prefer that option but unfortunately getting access to the raw mp4 files from YouTube and Vimeo isn't possible (Vimeo do I think depending on what settings the author sets). In that case if it's to be done, it might have to use iframes and PostMessage/APIs to control playback. I'd probably build this as an add-on or module as mentioned previously.

[2015-03-04 06:04] espellcaste commented on #44
+1

[2015-03-04 07:15] taug commented on #44
+1

[2015-03-04 08:57] taug opened #52 "how to use this player"
I can not find the dir "//cdn.plyr.io/1.0.19" needed in file "docs/index.html".

[2015-03-04 09:03] SamPotts commented on #52
That isn't a directory, it's a protocol relative URL. The docs index is purely meant as an example usage of the player. `<script src="//cdn.plyr.io/1.0.19/plyr.js"></script>` will pull the JavaScript source from the CDN for example.

In terms of a how to, I'd suggest starting with the readme.md.

[2015-03-04 09:03] #52 closed

[2015-03-04 09:17] taug commented on #52
Oh,thank you.But when I open the "index.html" in my browser,I looks like this:
![2015-03-04 17 13 56](https://cloud.githubusercontent.com/assets/5243670/6480751/0d978446-c292-11e4-8443-8383db053d22.png)

[2015-03-04 10:18] SamPotts commented on #52
Hey there, yes that's because you're serving it from the local filesystem. Looks like you're using Ubuntu which comes with Apache so you should use that for local development. I'm pretty sure the root directory for Apache is `/var/www/html` so you can create a `plyr` folder in there and put all the assets into it. Then go to `http://localhost/plyr` and it should work.

[2015-03-05 01:00] taug commented on #52
It works.

[2015-03-05 01:01] SamPotts commented on #52
Awesome!

[2015-03-05 02:22] rand99 opened #53 "Playback speed controls"
new feature

[2015-03-05 11:17] flik opened #54 "Why is it not responsive ?"
Any bootstrap version ?

[2015-03-05 11:19] SamPotts commented on #54
It is responsive and yes, it's bootstrap compatible although it's designed to be a standalone module and work with any framework/ui kit.

[2015-03-05 11:20] #54 closed

[2015-03-05 11:42] #42 closed

[2015-03-05 11:42] #49 closed

[2015-03-05 11:42] #40 closed

[2015-03-05 11:51] SamPotts commented on #42
Hey Riian,

Just pushed a fix for this. Take a look and let me know!

Cheers

[2015-03-05 11:53] SamPotts commented on #40
Hey @jocelynthode , I've just pushed a fix with some changes to seeking. There's no popup (it's on my list) but when you seek you get an instant update of the play time and it's just generally a bit nicer now. Let me know if that's better for you.

[2015-03-05 12:05] SamPotts commented on #44
Looking into this next as it fits well with playlists as @dvdheiden mentioned. Give me a day or two.

[2015-03-05 12:21] jocelynthode commented on #40
Yeah much nicer ! Thanks for the quick fix. I hope this player will be adopted by a lot of sites :)

[2015-03-05 12:23] riaan53 commented on #42
Awesome! Works great!

Two smaller improvement suggestions:

1. I cant remember if it was like this before but the seek and buffer bar jumps in increments and looks a bit laggy. A smooth transition on both will be very nice.
2. When dragging the seekbar a bit faster on http://plyr.io/ the bar lags the mouse pointer.

Thanks again for this awesome player and quick responses!

[2015-03-05 12:26] SamPotts commented on #42
Both good points. The problem is the native `<progress>` element is pretty janky (I tried everything). IE is actually pretty smooth oddly but Webkit and Mozilla aren't the best. I tried adding transitioning but of course that means 2) happens. I think I'll remove the transition for now.

[2015-03-05 15:10] espellcaste commented on #44
o/

[2015-03-05 15:12] espellcaste commented on #52
@SamPotts it's not that clear in the documentation that that's the way to go. I had the same problem on Windows and got me some 30 minutes to figure it all out!

[2015-03-05 17:48] AndersonReyes commented on #50
I would like to try and implement this feature and contribute!

[2015-03-06 00:33] SamPotts commented on #52
I'll update the docs to make it more obvious. Thanks for the feedback fellas :+1:

[2015-03-06 00:37] SamPotts commented on #50
Hey @AndersonReyes , that'd be awesome. My thoughts on it would be to try and re-use the current `sr-only` labels/spans as the tooltips (by switching class based on the option). This would keep the markup clean. Also they shouldn't be "display: none" as this would mean they'd not get read out by screen readers. If you use Mac you can test using Voiceover , and NVDA on Windows.

If you need any hel

[2015-03-06 00:41] SamPotts commented on #44
Almost done with this. It'll go out later today.

Basically I've written the method so it'll take either:
- A single string source
- An object of attributes (src, type, etc)
- An array of attribute objects

Depending on what's been passed will effect how it's rendered (`src` attribute on the element vs child `<source>` elements)

Does this sound about right? Currently working through some quirky W

[2015-03-06 00:45] tomByrer commented on #42
Sounds more like a client problem, not a spec failure.  Bugs probably should be submitted to Chrome & Fx.

[2015-03-06 01:11] AndersonReyes commented on #50
@SamPotts I don't have a twitter but give me your email, because yeah im studying the code now so everything you just said I have no idea lol

[2015-03-06 03:26] fclaussen commented on #50
Just sent a pull request. Sorry, this is my first time collaborating on github and I got a little lost but the code works. Thanks :)

[2015-03-06 15:51] espellcaste commented on #44
It sounds ok for me.

[2015-03-07 08:40] SamPotts commented on #44
This should be fixed in v1.0.22 - let me know.

I ended up just accepting a string source which sets the `src` attribute on the video or audio element and also an array of objects which will output `<source>` elements with the provided keys as attributes.

Check out https://github.com/Selz/plyr#api for more info and let me know if you find anything wrong!

[2015-03-07 08:40] #44 closed

[2015-03-07 10:47] jofrysutanto opened #58 "Add loop support"
I know that it can be easily added by using

[code]
but a shortcut as part of the configuration would be handy?

[2015-03-07 10:50] SamPotts commented on #58
Hey @jofrysutanto ,

Did you try the loop attribute? I tested that today and it seemed to work ok?
http://www.w3.org/TR/html-markup/video.html

Cheers

[2015-03-07 11:35] jofrysutanto commented on #58
@SamPotts , blimey, how did I missed that.
Though adding up on this, as this is what i end up doing:
[code]
It'll be awesome to do this as part of setup:
[code]
Unless i'm missing something here.
Awesome library!
Cheers.

[2015-03-07 14:24] #36 closed

[2015-03-08 12:19] SamPotts commented on #58
I meant you can add it to the `<video>` or `<audio>` element. e.g....

[code]

[2015-03-08 12:54] jofrysutanto commented on #58
Ahh silly me. Oh well, you learn something new everyday!

[2015-03-08 12:54] #58 closed

[2015-03-08 12:55] SamPotts commented on #58
No worries :+1:

[2015-03-08 13:48] #50 closed

[2015-03-08 14:16] SamPotts commented on #3
Sorry @servermeta , I missed your message about a PM. Twitter is fine or me@sampotts.me

I'll be looking at playlists next since I've added .source() and .poster() API methods now.

[2015-03-08 20:36] wjpdesigner opened #59 "The poster image should appear after the video is finished."
Hi Plyer,

I think after the video is finished the player should bring back the poster image.

Right now I just see the last frame of the video. (In your example it's just an empty white screen.)

Warm regards,
Jack

[2015-03-09 20:00] nickdesaulniers commented on #3
Self plug: https://github.com/nickdesaulniers/javascript-playlist-parser

I recommend sending an xhr to a url, then aborting if the MIME type is a media stream and using audio tags, else parse xhr.response based on MIME type. :wink:

[2015-03-09 22:07] SamPotts commented on #3
Thanks @nickdesaulniers , I'll take a look :+1:

[2015-03-10 02:27] tomByrer opened #60 "plyr vs video.js"
What are the difference between the 2 please?

Here is what I have so far:

* plyr is much smaller
* video.js has wider compatibility
* video.js has larger ecosystem (plugins, skins) since it has been around longer
* video.js is supported by a [large video company](https://www.brightcove.com/en/)
* video.js has [variable playback rate](https://github.com/videojs/video.js/blob/stable/docs/api/vjs.P

[2015-03-10 02:42] SamPotts commented on #60
Hey @tomByrer ,

The fundamental reason I wrote Plyr was because neither Video.js or MediaElement.js allowed me to write semantic, custom controls. At the time they used hacks like `<span>`  and `<a href="#">` as buttons which is just plain lazy. Even supporting IE7 is possible using the correct elements. I didn't support IE8 and 9 because the longer you support vintage browsers, the longer they s

[2015-03-10 05:17] Svenskunganka opened #61 ":active vs :focus pseudo-classes for controls"
Currently, the controls highlights based on `:focus`, but this is an issue as the element does not leave the `focus` state unless you focus another element on both phones and desktops.

We could work around this issue by replacing `:focus` with `:active` - however, this brings forth another issue for keyboard users as the element does not enter the `active` state, only the `focus` state when you u

[2015-03-10 05:17] tomByrer commented on #60
That is only true for the computer-savvy crowd, which is not the majority of people on the internet.  I think at least 20% of Windows users who have Fx or Chrome had a friend install it for them.  Alot of people don't even understand you need a 'client' to access the internet.

For my tool, I can force people to use the latest browsers.  For sharing video to my typical consumers, I can not.  But I

[2015-03-10 05:25] SamPotts commented on #60
You'll probably find that these days, it's corporate users that get stuck on old versions (from experience). Legacy systems make the upgrades more difficult. Most (if not all?) major browsers now self-update so the non computer savvy users barely notice anything has changed unless something they use frequently in the UI has changed.

Like I say the playback speed itself is easy. The UI will probab

[2015-03-10 05:27] SamPotts commented on #61
Yeah I acknowledge this is a problem. It annoys me too. I'm really not sure what the best way to do it would be unless the tooltips "expired" after a couple of seconds. The fact the buttons are highlighted is also not ideal. We need a `:tabbed` pseudo class selector :+1:

[2015-03-14 19:12] brunowego opened #63 "Lost subtitle"
At this moment the subtitle link is lost:

http://cdn.selz.com/plyr/1.0/movie_captions_en.vtt

[2015-03-14 22:02] SamPotts commented on #63
You're pointing to an old version. Check the latest version. Due to cloudfront caching I had to change the name to en.vtt. It's just demo code.

[2015-03-14 22:02] #63 closed

[2015-03-16 23:57] adrianmak opened #64 "could i put an advertisement video before main video ?"
as title

[2015-03-17 02:49] SamPotts commented on #64
Hey @adrianmak,

I'm sure you can although I've not tried it personally. You'd need to set the advertisement video as the original source for the video and then bind an event to the "ended" event that then calls source() to set the source as the "main" video. e.g.:

[code]
You would need to remove this event binding after the switch though or the video source will keep getting reset (not ideal).

[2015-03-17 18:06] maimairel commented on #8
+1 for this feature. I'll immediately switch to plyr when this gets done :)

[2015-03-17 18:26] 2braincells2go commented on #8
From time to time the feature would be cool to have. Add the ability to overlay some text on YT videos and you have a huge winner for many YT heads.

[2015-03-18 20:09] jakubmal opened #65 "Seeking doesn't work correctly when container positioned with negative translate2d"
First of all, thanks for all the hard work you put in this project!

Here is the problem:
One way to center a div of unknown height/width is to use ```position:absolute;``` with ```transform: translate(-50%, -50%);```
Better described here: https://css-tricks.com/centering-percentage-widthheight-elements/

Say you have a modal, which is centered using this method, and you put a plyr-enhanced video

[2015-03-18 20:40] SamPotts commented on #65
Hey Jakub,

Thanks! Are you using the latest version? I changed to use a range input rather than detect a click on the progress bar and calculate the offset. The change was partly for the reason you mentioned and partly for a better experience on touch devices.

Maybe give that a go and let me know?

Cheers
Sam

[2015-03-18 22:07] jakubmal commented on #65
Hey,
Ooops, my bad, I locked on 1.0.20. It's definitely fixed in the 1.0.26. Sorry!

[2015-03-18 22:07] #65 closed

[2015-03-18 22:17] SamPotts commented on #65
No worries at all. If you find anything else let me know :+1:

[2015-03-19 07:54] SamPotts commented on #64
How did you go with this? I'm just going to close the issue. Let me know if there were problems.

[2015-03-19 07:54] #64 closed

[2015-03-20 09:06] Veyfeyken opened #66 "keyboard accessibility"
The player's controls are made with button elements. A keyboard user can hit enter to activate them.
Mute and captions are toggles made with input type="checkbox". A checkbox can only be used with the spacebar by default. Not with enter. Mute and captions don't look like checkboxes. They look like buttons. A keyboard user might think that mute and captions don't work because they don't react to th

[2015-03-20 09:59] SamPotts commented on #66
Excellent suggestion. I have a few other tweaks that I can bundle this with. I'll do this shortly.

[2015-03-21 06:00] #66 closed

[2015-03-21 06:01] SamPotts commented on #66
Should be all good now. Check it out and let me know. Cheers :+1:

[2015-03-22 10:30] SamPotts commented on #47
Hey @master-lincoln , sorry for the delay but this is now in v1.0.29. I've made it so it hides after 1s (CSS transition) and if you mouseover over the progress bar (the only visible control), the controls re-appear. If you focus a child control they should also appear. On a touch device you need to tap the video which will play or pause it if you have the `click` option set to `true` (default).

T

[2015-03-22 10:30] #47 closed

[2015-03-22 12:15] SamPotts commented on #59
I did look into this but I've not found a suitable solution yet. The "native" way seems to be to seek to 0 and then call `.load()` but the problem with that is `.load()` will basically make another request for the video. Not ideal. I will keep looking. It looks like video.js and the like load the poster image into a div, which I'd like to avoid that if possible.

[2015-03-22 12:17] SamPotts commented on #1
Closing this one as I can't reproduce. If someone else is experiencing it, I'll take another look. Suspect it is network/machine related?

[2015-03-22 12:17] #1 closed

[2015-03-22 18:19] Haroenv commented on #1
Funny, I can't seem to reproduce it anymore either

[2015-03-22 22:23] #48 closed

[2015-03-23 10:55] Veyfeyken commented on #66
Thanks, works fine now.

[2015-03-26 03:05] julesbravo opened #67 "Docker or Vagrant?"
I was going to start working on this project a bit, but the first thing that came to mind was setting up an environment to work on. I don't even have a web server installed on my local machine, I use VMs for everything. I was going to build out a quick Docker or Vagrant for this project. Do you have a preference on which one? Is this overkill on a purely client side project?

[2015-03-29 21:36] ejb1123 opened #68 "handle net::ERR_CONNECTION_REFUSED"
Can the option to handle `net::ERR_CONNECTION_REFUSED` be added

[2015-03-29 23:09] ejb1123 opened #69 "time higher 60 minutes starts at 0 min"
When seeking or playing media and it passes the 60 min mark it lapses back to 0

[2015-03-30 07:55] hakanw commented on #69
we have this problem too in our project

[2015-03-30 07:59] SamPotts commented on #69
Very strange. I'll take a look.

[2015-03-30 08:17] #69 closed

[2015-03-30 08:20] SamPotts commented on #68
How do you mean? On the source of the player? I think the best I could do would be to just throw up a message if none of the sources were valid? e.g. nothing loaded, like a catch all?

https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Using_HTML5_audio_and_video#Error_handling

[2015-03-30 08:22] SamPotts commented on #67
Hey mate,

I've not really had a play with either but like you say it might be a bit overkill? Could you not use apache or the like in one of your VMs? I just use the built in apache in OS X.

Cheers

[2015-03-30 08:22] SamPotts commented on #69
Thanks for the feedback fellas :+1: This should be fixed now.

[2015-03-30 08:54] hakanw commented on #69
Thanks for such an extremely quick turnaround @SamPotts !! :pray:

[2015-03-30 17:24] afemath opened #71 "Internet Explorer Captions"
I have to create sites that are 508 compliant because I work on US government projects. They often insist that sites must be accessible on as many platforms as possible. This is especially true because government computers are often out of date (as far as browsers go anyway). I have been reviewing this media player on various internet explorer versions, I have noticed some issues.
- IE9 (wind7) -

[2015-03-30 21:26] tomByrer commented on #67
Maybe make your own independent repo?
I agree that it could be overkill, but I could see it would be helpful in testing.  Perhaps in time you could add test cases (malformed MP4, play lists, etc) in time.

But too much to expect a someone else to handle.  I bet a link in this README to your Deocker image would suffice.

[2015-03-30 22:25] SamPotts commented on #71
Hi @afemath , I was unaware of these issues. I will take a look. I'm sure it'll be an easy fix.

Thanks :+1:

[2015-03-31 12:14] SubZane opened #72 "Some errors with the documentation?"
I've been looking for something like this, but I cannot get it to work the way it's described.

First. The script will auto-run without any initialization, not by using the plyr.setup method.

The following will not disable the script as the docs tell me. It ignores all options I pass to it.
[code]

[2015-03-31 12:28] SubZane commented on #72
Never mind! I just looked in the wrong file for too long :(

[2015-03-31 13:29] AxelBriche opened #73 "Request: Youtube/Vimeo/Dailymotion support"
Youtube/Vimeo/Dailymotion support :)

[2015-03-31 23:22] SamPotts commented on #72
No worries :+1:

[2015-03-31 23:22] #72 closed

[2015-04-02 22:18] ejb1123 commented on #73
similar request to #8

[2015-04-02 22:26] AxelBriche commented on #8
+1 for this features.

[2015-04-04 19:38] heyallan commented on #8
+1

[2015-04-05 03:03] wanghao8080 opened #74 "is there a fullscreen api i can use ?"
Thank you for the awesome work，is there a fullscreen api i can use ?

[2015-04-05 03:53] SamPotts commented on #74
I'll write something for this now. Good idea :+1:

[2015-04-05 03:54] SamPotts commented on #73
Duplicate of #8 - I will get to it asap but need to build some sort of plugin framework first. :+1:

[2015-04-05 03:54] #73 closed

[2015-04-05 03:55] SamPotts commented on #8
Sorry, I will get around to this, I just need to lock myself away for a day :+1:

[2015-04-05 06:08] wanghao8080 commented on #74
Thank you Sam ：）

[2015-04-05 08:06] nahtnam commented on #8
Np.

On Sat, Apr 4, 2015, 8:56 PM Sam Potts <notifications@github.com> wrote:

[2015-04-05 10:55] AxelBriche commented on #8
Good luck, this features is the most importante part of this librarie now I think (design is already awesome) :)

[2015-04-06 01:48] #74 closed

[2015-04-06 01:53] SamPotts commented on #74
I've added a couple of methods that should be useful for you? Let me know.

Bear in mind that due to browser security restrictions toggleFullscreen needs to be user initiated. e.g.

[code]

[2015-04-06 03:15] wanghao8080 commented on #74
Thank you ：）

[2015-04-06 03:42] SamPotts commented on #74
Grab v1.1.3, there's a couple of other small fixes in it :+1:

[2015-04-09 15:29] terraconnect commented on #38
I am afraid it is still not working on Firefox 38 on PC.

[2015-04-09 21:17] #38 closed

[2015-04-09 21:19] SamPotts commented on #38
Hey @terraconnect , sorry about that. Of course, each browser has their own and generally inconsistent implementation of the fullscreen API, some using `FullScreen` and some `Fullscreen` and then of course there's good old Microsoft who feel sometimes they should prefix with `ms` and sometimes `MS`. Sterling work.

Thanks for reporting it :+1:

[2015-04-10 08:58] terraconnect commented on #38
Hi Sam!
And thank you very much for fixing the issue so quickly.
Works perfectly now.

I fully understand the issues of compatibility as well.
Indeed, I experienced that Safari seems to be the new Internet Explorer...  ;)

Have a nice weekend.

[2015-04-10 23:51] SamPotts commented on #38
Safari certainly has it's quirks. A recent one that's been frustrating is `(1000).toLocaleString()` which should return `1,000` in most browsers when set to English language and `1.000` or `1 000` in some other languages. Of course Safari just returns `1000` so it's hard to get the thousand group separator for the users locale in Safari.

[2015-04-11 07:51] terraconnect commented on #38
Ahahah!

Another example is the fullscreen video in Safari that was letting site's header above it. Don't know if it is coming from plyr but I tried every possible value of z-index with no luck. Finally, I had to hide elements during fullscreen playback.

[2015-04-20 18:18] maimairel opened #77 "Destroy Method"
I'm planning to use Plyr in an AJAX environment where pages are dynamically loaded. Currently there's no convenient way to destroy a Plyr instance to prevent memory leaks.

Is it possible to add a `.destroy()` method where all events are unbind, all markup removed, everything restored to the initial state.

Thanks!

[2015-04-21 04:17] SamPotts commented on #77
Yep should be straightforward. I'll take a look.

Cheers :+1:

[2015-04-22 08:26] uaSad opened #78 "JavaScript Strict mode"
If strict mode 'disabled':
[code]
See https://github.com/derjanb/tampermonkey/issues/213

[2015-04-22 08:43] maimairel commented on #77
Thanks for considering this!

[2015-04-22 09:39] SamPotts commented on #78
OK I'll take a look. Strict mode does change a few things though. Ideally you want it on.

[2015-04-22 10:09] uaSad commented on #78
Maybe something like this:
[code]

[2015-04-23 17:43] nikolowry commented on #77
I was just about to request this.  I got around this by adding a removeMedia to my Backbone app's VideoPlayerView.  I'll attach a little standalone jQuery snippet of it.

[code]

I hadn't done an ajax video implementation in a while so I don't know what might be overkill or not.  I always had memory leakage problems if I didn't remove the media before destroying the player element.

[2015-04-26 02:03] nahtnam commented on #8
Any update?

[2015-04-26 08:04] SamPotts commented on #8
Sorry, I have started on YouTube playback. Will update once I have more. Will find some more time this week.

[2015-04-29 13:34] arcadio813 opened #79 "Captions not working in Firefox"
Tried to display captions successfully with <code>captions:{defaultActive:!0}</code>. Unfortunately in FF 37 the div player-caption stays empty. Firebug reports 'Caption track found' and 'Successfully loaded the caption file via AJAX' as well as 'TextTracks not supported so rendering captions manually'. Am I doing something wrong or are there known issues with FF?

Thanks

[2015-04-30 08:06] SamPotts commented on #79
Hey @arcadio813, Sorry to hear that. I've tested on Firefox and it seems ok for me. Have you tried http://plyr.io? Failing that, could you show me your VTT file?

[2015-04-30 11:52] arcadio813 commented on #79
Hi Sam, thank you for your quick reply. I downloaded plyr.js from GitHub, the VTT for testing was yours (I re-encoded it after copying to UTF-8 without BOM). In the meanwhile I played around with MIME-type settings in Apache, but still the same result :-(

[2015-05-02 07:07] calvintam236 opened #80 "API should allow to set track (subtitle file)"

[2015-05-02 10:56] SamPotts commented on #79
What mime type were you using? It should be `text/vtt`. Maybe try using the demo file as mime type is already set. It can be found at `http://cdn.selz.com/plyr/1.0/en.vtt`. I'm not sure what else can be the problem to be honest.

[2015-05-06 10:53] arcadio813 commented on #79
Hi Sam, the problem was in my .htaccess file, now it works, thanks a bunch!

[2015-05-06 20:12] AxelBriche commented on #8
Hello, some news ? :)

[2015-05-11 14:52] SamPotts commented on #80
:+1:

[2015-05-11 14:52] SamPotts commented on #79
Glad to hear you got it sorted... :+1:

[2015-05-11 14:52] #79 closed

[2015-05-11 14:54] SamPotts commented on #8
Sorry, I'm still working on it around other commitments. Will try to devote some more time to it. I really want to get it in and already made a good start on it.

[2015-05-11 14:59] nahtnam commented on #8
Awesome. Thanks for the update.

On Mon, May 11, 2015, 7:54 AM Sam Potts <notifications@github.com> wrote:

[2015-05-16 15:47] tkggusraqk opened #81 "App control"
Used on the mobile phone, audio and video can only be played simultaneously, and when appears in the video, if you are playing audio, then video, video animation does not change the

[2015-05-17 07:23] #77 closed

[2015-05-17 07:23] #78 closed

[2015-05-17 07:24] SamPotts commented on #78
Sorry it took me so long. Let me know if everything is ok now. It should be fixed. Thanks for your code snippet. I basically just used that. Feel free to submit pull requests for anything else you find :+1:

[2015-05-17 07:37] SamPotts commented on #77
Sorry for the delay, this is now in the latest version. I created `destroy()` and `restore()` API methods. `destroy()` will basically restore the player to the original untouched state and `restore()` basically creates new instance. Let me know if that's what you were after.

Remember if you're using AJAX, you can set the source using the `source(...)` API method:
https://github.com/Selz/plyr#api

[2015-05-17 07:38] #60 closed

[2015-05-17 07:38] #67 closed

[2015-05-17 07:39] SamPotts commented on #81
Hey @tkggusraqk , could you clarify the issues you're having? If it's iOS you're using, the native `<video>` element doesn't allow much customisation unfortunately.

[2015-05-17 07:42] SamPotts commented on #71
Hi @afemath, I've just had a look at this again but I can't seem to re-produce the errors with IE10? Plyr doesn't currently support IE9 because it doesn't support the `<progress>` element unfortunately. I was planning on adding support by detecting the presence of Lea Verou's polyfill (https://github.com/LeaVerou/HTML5-Progress-polyfill) but not sure what to do about `<input type="range">` since a

[2015-05-18 01:43] calvintam236 commented on #80
Thank you for considering this. One of my projects require switching subtitle using ajax.. I cannot do anything now until this is being added.. (Or I need to destroy and restore the whole player but need more code to restore the last point..)

[2015-05-18 02:04] calvintam236 opened #82 "Keyboard control of playback"
I notice there are some control for the player using keyboard, like space bar and the enter can be used to control play/pause.

Is it possible to add other control and/or custom control for it?
E.g. Right arrow = fast forward, left arrow = rewind, up arrow = volume up, down arrow = volume down?

[2015-05-18 02:08] SamPotts commented on #82
Hey @calvintam236 , this behaviour is already present but you need to be focused on the `<input type="range">` scrubber. I'd be hesitant to change the binding to be for the whole player since the left and right arrow keys also control the volume control. This is default browser behaviour which shouldn't really be changed on accessibility grounds. Keyboard users will be familiar which various input

[2015-05-18 02:08] #82 closed

[2015-05-18 02:20] calvintam236 opened #83 "setVolume will get "Uncaught IndexSizeError" when set value below 0"
Since there is no way to get the volume, if the value goes below 0, there will be an error.
[code]

[2015-05-18 03:14] SamPotts commented on #83
Hey @calvintam236 ,

Don't enter a value less than 0 :+1: heh, I'll put some handling in there for that.

You can get the volume from the HTML element itself, but of course it's a floating point rather than the 0-10 range that plyr uses.

`document.querySelector(".player").plyr.media.volume` would return `0.7` on plyr.io for example.

I'll put some handling in for the out of bounds values.

[2015-05-18 03:50] #83 closed

[2015-05-18 03:52] SamPotts commented on #83
Pushed a fix for this also improved how the player monitors volume/mute changes. Let me know if there's any problems :+1:

[2015-05-18 04:06] calvintam236 commented on #83
Hey @SamPotts, it seems when you set volume = 10 at setup with v1.1.8, the volume controls shows 0..

[2015-05-18 04:50] SamPotts commented on #83
I've just pushed some tweaks in 1.1.9 but check your local storage value. The value of the volume is set in local storage (it's an option, defaulted to on) so when a user comes back, they get the same value. If you muted and refreshed, this would be 0.

Run this in your console:
`window.localStorage.plyr_volume`
If it returns 0, then that's why.

[2015-05-18 05:03] calvintam236 commented on #83
hey @SamPotts I don't think the issue was fixed. Try adding "volume: 10," at docs.js and visit your demo. The volume in the player shows at the bottom (but not mute). Get media.volume value is 1 using console.log.

[2015-05-18 05:13] SamPotts commented on #83
Check 1.1.10 :+1: I think I've nailed it.

[2015-05-18 05:37] calvintam236 commented on #83
@SamPotts Fixed! Thank you! :+1:

[2015-05-18 05:38] SamPotts commented on #83
No problem. I'll look at your suggestion for changing track by API asap too.

[2015-05-18 06:31] calvintam236 opened #84 "Video plays but caption does not show (Android)"
Device: Nexus 5
OS: Android 5.1.0
Browser: Chrome Beta, Chrome Dev (Chrome runs normally)

[2015-05-18 06:51] calvintam236 opened #85 "API doc wrote method name as "support", should be "supported""

[2015-05-18 06:56] SamPotts commented on #85
Blimey. You're busy today.

They do two different jobs.

- `.support("video/mp4")` will check a plyr instance can support a certain mime type. e.g. "video/mp4"
- `.supported()` returns if plyr is supported by the users browser (https://github.com/Selz/plyr#checking-for-support). e.g. IE8 would return false.

Might be worth having another quick read through the docs?

[2015-05-18 06:56] #85 closed

[2015-05-18 07:06] calvintam236 commented on #85
For me I got these two methods confused because of the name. I would suggest changing support to supportMIME or other name that clearer. Maybe you can also write "supported" method in the API list as well, @SamPotts?

[2015-05-18 07:13] SamPotts commented on #85
`.supports()` might be a better name since you're basically asking `instance.supports(x)`. I'll move the position of the `.supported` docs but it doesn't work on a plyr instance, you can just call `plyr.supported()` so it works a little differently.

[2015-05-18 07:19] calvintam236 commented on #85
Maybe supportFormat()? Because "support" and "supported" is the same word
in different tenses. The meanings of two words are nearly the same. In
summary, supported is a global method for the plyr, not part of the
instance plyr.

On Mon, May 18, 2015, 00:13 Sam Potts <notifications@github.com> wrote:

[2015-05-19 01:20] calvintam236 opened #86 "Alternative method: togglePlayPause"
Old methods can remain. Since you have toggle for fullscreen, captions. How about adding toggle method for play and pause? Although I have already wrote a conditional to decide play and pause on media status of paused, having toggle method of play/pause makes life easier. Simple implement.

[2015-05-19 01:24] SamPotts commented on #86
Sure - I'll do this at lunch time, won't take long. :+1:

[2015-05-19 23:05] calvintam236 opened #87 "Volume control gets a mysterious white border around it."
Device: Nexus 5
OS: Android 5.1.0
Browser: Firefox, Firefox Beta

![screenshot_2015-05-19-16-02-08](https://cloud.githubusercontent.com/assets/6436149/7715827/b0a843de-fe40-11e4-88fa-f256b327b732.png)

[2015-05-19 23:16] calvintam236 commented on #61
@SamPotts I notice that the background color when hover sometimes does not go away (stuck) unless you move the pointer/ activate the button in order to restore. How about using both :active and :hover? :hover only fires when the pointer is over the element (perfect for touch screen).

[2015-05-19 23:27] calvintam236 opened #88 "Support data URI sub tracks"
Tried on my project embed track source in the data url format. Captions does not detect by the player. However, native runs the subtitle. (Cannot control hide/ show since caption is not detected)
Tested on Chrome, Opera. Not sure it occurs on Firefox or not.

![caption](https://cloud.githubusercontent.com/assets/6436149/7716168/dfc4773e-fe43-11e4-850f-5b29c80c060d.png)

[2015-05-19 23:58] SamPotts commented on #61
Yeah the styles are based on `:focus` which for a keyboard user is the only way to see which control is the current selected one. `:active` and `:hover` have different meanings, `:active` is the pressed state and obviously I don't need to explain `:hover`. There is a way of detecting a tab vs a click which I will implement at some stage but there's more important features (playlists and youtube/vi

[2015-05-20 00:01] SamPotts commented on #88
You're using a data URI for the track source? That's pretty edge case. You're better off hosting them on a CDN and setting proper cache headers but I will look at this at some stage.

[2015-05-20 00:02] calvintam236 commented on #61
Good to know that. :+1:

On Tue, May 19, 2015, 16:58 Sam Potts <notifications@github.com> wrote:

[2015-05-20 00:02] SamPotts commented on #87
Will check this out. :+1:

[2015-05-20 00:05] calvintam236 commented on #88
When the subtitle is that small, it saves time to have another request to
fetch the subtitle. Right now no control as shown on the screenshot.

On Tue, May 19, 2015, 17:01 Sam Potts <notifications@github.com> wrote:

[2015-05-25 01:30] calvintam236 opened #89 "Data URI source does not load only on Firefox"
According to W3C, data URI is allowed for video source. However, data URI video source cannot load in Firefox (no such issue in Chrome, Opera). It becomes a loading loop. Video loads when source is a data url and page runs without the plugin (native player). This is a bug.

![loadingloop](https://cloud.githubusercontent.com/assets/6436149/7790596/aeb03c02-0242-11e5-88b3-d0717caeb69a.png)
.

[2015-05-31 00:46] wanghao8080 opened #90 "Chrome does not show caption anymore ?"
In my safari is ok, but in chrome , video does not show caption, even official demo .

[2015-05-31 23:01] SamPotts commented on #90
You're right. They must have made some changes. I'll take a look tonight. :+1:

[2015-06-02 17:04] Arcrammer opened #91 "Missing player icons."
![screen shot 2015-06-02 at 13 03 55](https://cloud.githubusercontent.com/assets/8358956/7941859/10689124-0928-11e5-807d-22e7efc38f26.png)

I don't understand why this is happening. I've linked both `plyr.css` and `plyr.js` in my `head`.

[2015-06-02 20:45] Arcrammer commented on #91
I was missing the AJAX call to load the icons. :)
[code]

[2015-06-02 20:45] #91 closed

[2015-06-03 00:24] SamPotts commented on #91
:+1:

[2015-06-07 13:00] #86 closed

[2015-06-07 13:00] #87 closed

[2015-06-07 13:00] #90 closed

[2015-06-07 13:02] SamPotts commented on #84
Sorry I need to buy another Android device for testing to fix this one. Will get one asap.

[2015-06-07 13:03] SamPotts commented on #86
Added this in as `.togglePlay()` :+1:

[2015-06-07 13:04] SamPotts commented on #90
This should be fixed now. Sorry about the delay :+1:

[2015-06-07 13:34] wanghao8080 commented on #90
Thank you ：）

[2015-06-08 05:24] calvintam236 opened #92 "Subtitle positioning in full screen"
Should the subtitle position depends on screen edge when the navigation of the player is hidden? It looks weird to position it in the middle of the screen at this case.

![screenshot_20150607-221341](https://cloud.githubusercontent.com/assets/6436149/8028493/d2c72372-0d63-11e5-8e4d-94daf09948f1.png)
![screenshot_20150607-221350](https://cloud.githubusercontent.com/assets/6436149/8028494/d2e96b12-0

[2015-06-08 05:26] calvintam236 commented on #84
@SamPotts I just checked the website on latest Chrome Beta & Dev. The issue is no longer exist. Maybe Google fixed it?

[2015-06-08 05:26] #84 closed

[2015-06-08 05:30] calvintam236 opened #93 "Seeking issues in full screen on touch devices with hidden controls"
If you went into full screen mode and pull up from bottom for the Android native navigation bar when the control is minimized (seeking bar will show), user will seek the media unintentionally. The action is common for Android users, and it is very annoying..

[2015-06-08 06:59] calvintam236 opened #94 "Fail to detect track (subtitle) for audio element"
Just digging through some documentation on track element. I notice that track is supported for audio element as well, and plyr cannot detect the track element for audio element (Caption icon does not show at all after loaded an audio file).

[2015-06-08 07:02] SamPotts commented on #94
Good call. This would be a quick win. I'll give it a go.

[2015-06-08 07:03] SamPotts commented on #92
Good point! :+1:

[2015-06-11 02:35] calvintam236 opened #95 "Demo crossorigin error"
I guess it is caused by the poster.

```Image from origin 'https://cdn.plyr.io' has been blocked from loading by Cross-Origin Resource Sharing policy: No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://plyr.io' is therefore not allowed access.```

[2015-06-11 22:00] SamPotts commented on #95
This is a browser bug, not a problem with Plyr. You'll notice if you refresh, 9 times out of 10 you won't get it. You don't need the cross origin attribute unless your tracks are being hosted on a different domain (like a CDN in the demo). Unfortunately the `crossorigin` attribute is not support on the `<track>` element itself. If you remove it on the `<video>` element you'll get another message:

[2015-06-11 22:00] #95 closed

[2015-06-11 22:02] SamPotts commented on #95
The most annoying part is that header *is* present on the image response.

![screen shot 2015-06-11 at 5 02 02 pm](https://cloud.githubusercontent.com/assets/719092/8119520/a550a9c2-105b-11e5-95de-1243aacebec0.png)

[2015-06-20 15:04] AxelBriche commented on #8
Hello, news about youtube and vimeo please ?

[2015-06-20 16:46] SamPotts commented on #8
Sorry I'm currently on vacation at the moment. It's hard to find the time so if anyone wants to contribute, feel free to pull develop and do a pull request if you're desperate.

I am working on it just life takes precedence over work and life's been busy.

[2015-06-26 00:21] adriengibrat commented on #59
``` video.src = ''; ``` unload the video on chrome... got the tip fromp [MDN](https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Using_HTML5_audio_and_video#Stopping_the_download_of_media).

[2015-06-26 00:42] adriengibrat commented on #8
Could you push what you got on a branch so we could have a look and contribute?

[2015-06-26 02:24] SamPotts commented on #8
Will do when I get home. Currently in Dallas, about to board my 17 hour (!) flight home to Sydney.

[2015-06-26 08:43] servermeta commented on #3
sorry for taking so long to reply, but I got scolded at work because I officially can't divulge the data that was under NDA. It was under NDA because we were using some proprietary Nvidia api (NVIFR) which just recently got divulged to the public.

The basic idea is: if I have a 100 mb video, I will use AT LEAST (insert buffer size) mb of memory to hold it, up to 100 + n mb. More often than not I

[2015-06-28 20:33] AxelBriche commented on #8
Thanks, can't wait for this feature, so cool :)

[2015-07-12 10:49] SamPotts commented on #8
A bit of an update on this. I finally managed to find some time today and I have made some more progress with YouTube playback and should have something to release this week. It'd be great if you guys could give it a spin once done and let me know any changes/improvements.

I'll keep you guys posted and sorry about the slowness on this. Next up Vimeo.

[2015-07-12 11:03] AxelBriche commented on #8
Nice and thanks, I try when update is online :)

[2015-07-14 04:37] nahtnam commented on #8
@SamPotts Good to hear. I think instead of doing Vimeo next, you should do Twitch.tv. Its much more popular IMO.

[2015-07-14 06:07] jayss opened #96 "safari full screen"
there's a bug after full screen in safari browser, the page can't scroll at all

[2015-07-20 12:39] SamPotts commented on #8
Just pushed the YouTube support in v1.2.0. Please give it a test and if you find anything quirky, let me know. I'll make a start on Vimeo on this week. Sorry it's taken so long!

Hey @nahtnam, I'll take a look but Vimeo's API is decent (better than YouTube's) and not sure Twitch has support for HTML5? It wants me to install Flash. That's a no-go :-1:

[2015-07-20 12:41] SamPotts commented on #92
Is this still an issue? I think I pushed a tweak for this...

[2015-07-20 12:42] SamPotts commented on #96
Hey @jayss, could you give me some more information on this? Safari on iOS or Desktop? What version? Looks ok here.

[2015-07-20 12:43] #81 closed

[2015-07-20 13:35] SamPotts commented on #61
Couple of useful links for when I get around to this:
- http://stackoverflow.com/questions/5653332/differentiate-between-focus-event-triggered-by-keyboard-mouse
- http://stackoverflow.com/questions/16144611/detect-focus-initiated-by-tab-key

[2015-07-20 15:50] nahtnam commented on #8
@SamPotts Yeah, not sure if Twitch.tv has html5 support (they mentioned they do for safari on mac).

This is the api docs that twich has: https://github.com/justintv/Twitch-API/blob/master/embedding.md

Not sure if it will work.

[2015-07-20 16:39] calvintam236 commented on #92
Yes, it is. Just tested on Chrome (Android).

[2015-07-20 16:50] calvintam236 commented on #8
@SamPotts Will you add API functionality for adding/ switching source for Youtube (and Vimeo) videos?

[2015-07-20 16:52] martindale commented on #8
Even moreso, changing sources altogether – for example from a YouTube video to an mp3 audio file.

[2015-07-20 17:16] calvintam236 opened #97 "After tooltips enabled, blank tooltips shows on hover (cannot see any text)"

[2015-07-20 22:51] #97 closed

[2015-07-21 00:31] SamPotts commented on #8
@calvintam236 Yep, this is in the docs. Have a read :+1: https://github.com/Selz/plyr#embeds

@martindale I'll work on this too, shouldn't be *too* hard (he says...)

[2015-07-21 00:35] calvintam236 commented on #8
@SamPotts Can you add an example what is the format for embed source in the API? You mean just plyr.source('YouTube video ID')? If so, it would be great to add the info into the API table.

[2015-07-21 00:36] SamPotts commented on #8
Yep, e.g. go to plyr.io and chuck this in the console:

`document.querySelector("#youtube .player").plyr.source("-jp3o7R5Q1I")`

I'll add to the docs now in the API table

[2015-07-23 09:23] k-zakhariy opened #98 "Fixed player at top of the page"
I wanna to get player positioned fixed at top of page. How to clone current playing player and controll volume / play/ pause. I have many instances of players on the page wrapped in class .player . Please help.

[2015-07-24 09:37] calvintam236 commented on #61
@SamPotts Since this issue is not fixed, the tooltip does not disappear after you press the icon without clicking anywhere else. For example, press the fullscreen. It won't disappear unless you click on the control/ screen.

[2015-07-25 00:54] SamPotts commented on #61
Yep. Aware it's not fixed. I'm getting to it.

[2015-07-25 00:59] calvintam236 commented on #92
Added screenshot.
![screenshot_2015-07-24-17-57-30](https://cloud.githubusercontent.com/assets/6436149/8887223/a69db4de-322d-11e5-9d69-3f3256eaeff5.png)
![screenshot_2015-07-24-17-57-19](https://cloud.githubusercontent.com/assets/6436149/8887226/b525104c-322d-11e5-910b-9d32d4837cbc.png)

[2015-07-25 08:30] #61 closed

[2015-07-25 08:30] #92 closed

[2015-07-25 08:32] SamPotts commented on #61
This should be fixed (at long last!) :+1:

[2015-07-25 08:39] calvintam236 commented on #61
@SamPotts One little issue. When you use the mouse to click a button on the control, the button stays in active status after the pointer moved away.

[2015-07-25 08:43] calvintam236 commented on #93
@SamPotts It is still an annoying issue when I just test for the new updates on my phone..

[2015-07-25 08:46] calvintam236 commented on #96
@SamPotts Actually when I click full screen in Safari, the full screen is not a full screen. It is a full window.. I believe this is what he mentioned.

Attached screenshot when it is toggled to full screen.
![safari_fullscreen](https://cloud.githubusercontent.com/assets/6436149/8888734/eee79aac-326e-11e5-8707-0679d26ff20d.png)

[2015-07-25 08:47] SamPotts commented on #93
Yes but if I go ahead with this, you'll have to pause the video for the controls to show and then seek which is far from ideal. I think it needs some more thought than just disabling it otherwise it'll be annoying for some.

[2015-07-25 08:52] calvintam236 commented on #93
@SamPotts Is it possible to disable only the seeking when the control is minimized on mobile os? Or change play/ pause behavior to act after the controls are shown, not the first click like on the desktop? There should be differences on plyr's behavior for touch and mouse users.

[2015-07-25 08:53] SamPotts commented on #96
That's intended as Safari doesn't allow keyboard input in full screen mode...
https://github.com/Selz/plyr/blob/master/src/js/plyr.js#L556

[2015-07-25 09:01] calvintam236 commented on #96
Is it necessary to have "ALLOW_KEYBOARD_INPUT" flag in Safari? If it does not support the tag, it should able to request a full screen without keyboard.

I just googled and see a demo that has no issue to request full screen in Safari. http://www.sitepoint.com/html5-full-screen-api/
Don't know if there is any help.

[2015-07-25 09:09] SamPotts commented on #96
Did you read the code in the link? I tested it and found it to be an issue, hence disabling it. Things may have changed since then. I'll take another look.

[2015-07-25 09:11] SamPotts commented on #93
Could definitely make it an option (defaulted to allowing seeking since thats what I think most users will want - it's not an issue on IOS for example).

As for "Or change play/ pause behavior to act after the controls are shown, not the first click like on the desktop?", how do you see that working? The controls only show when the video is paused in fullscreen mode.

[2015-07-25 09:15] calvintam236 commented on #93
For native android video player (AwesomePlayer/ NuPlayer), clicking on the screen shows the control and it does not pause the video, users have to press the pause manually to do such action. I believe the same rule applies on iOS too.
For desktop users, clicking on the screen pause the video is what we used to.
Does this work here?

[2015-07-25 09:16] SamPotts commented on #93
Sounds good. I'll implement something like that then. Nice one :+1:

[2015-07-25 09:26] calvintam236 opened #100 "Remove duplicated code"
When I looking at the source code, I notice some code can be removed.

https://github.com/Selz/plyr/blob/master/src/js/plyr.js#L574 is unnecessary while there is a default case and it works exactly the same.

A question, is there any coding standard for this project?

[2015-07-25 09:34] calvintam236 commented on #93
So for mobile users, when the controls are hidden, no action (including seeking) by touch can trigger unless the user first clicked the screen once and reappear the controls. No changes for desktop users.

Also, can you make the seeking bar higher for mobile users? It is just too narrow for touch screen as it doesn't have the drag thing.

[2015-07-25 09:36] SamPotts commented on #93
You can change the height in the LESS or SASS if you want to.

[2015-07-25 09:41] SamPotts commented on #100
It's not duplicate code:

`mozFullScreenElement` is not the same as `mozFullscreenElement`

You're on fire raising non issues to suit your own requirements without really thinking things through. You can always do some contributing and a pull request :)

If you don't like the coding or the player, feel free to try another player and bug them.

[2015-07-25 09:41] #100 closed

[2015-07-25 09:51] #96 closed

[2015-07-25 09:52] SamPotts commented on #96
Looks like it's ok now.

[2015-07-25 09:57] calvintam236 commented on #96
Thank you, @SamPotts. Works now! :+1:

[2015-07-25 10:16] SamPotts commented on #96
:+1:

[2015-07-25 10:32] calvintam236 commented on #88
@SamPotts I tested and found out why it does not load.
https://github.com/Selz/plyr/blob/master/src/js/plyr.js#L1030
It should not limit to only "captions". At the above test case, I did not set the kind. So this line should be:
[code]
I am not sure if the kind attribute is not set, it will receive the default value or just blank. I am not expert in JS.

[2015-07-25 10:45] #88 closed

[2015-07-25 10:47] SamPotts commented on #88
I've made a couple of changes which should resolve this I think. Thanks for doing some digging. :+1:

You really should add the correct `kind` attribute to the `<track>` element though since captions and subtitles are different things. Plyr now supports both and treats them the same.

https://developer.mozilla.org/en-US/docs/Web/HTML/Element/track

[2015-07-25 18:28] lionel-m opened #101 "i18n support"
Hi,

Could we have an option to translate the buttons in other languages?

Thanks

[2015-07-25 19:36] calvintam236 commented on #8
I notice it is getting a warning message.
[code]
Another issue I have is when I set the source as how you mentioned above at my script, it loads as mysitelink/youtubeid instead of loading youtube video.. Maybe because it requires to set type = 'youtube'? API does not have any method to set it. https://github.com/Selz/plyr/blob/master/src/js/plyr.js#L1605

[2015-07-25 22:05] SamPotts commented on #101
Sure. We do this on Selz using a hogan template and then injecting the correct language into placeholders but I'm sure I could come up with something for the default controls to make life easier.

[2015-07-25 22:06] SamPotts commented on #98
Hey mate, so what exactly do you want to do, control a player with custom buttons?

[2015-07-26 09:59] lionel-m commented on #101
:+1:

[2015-07-26 11:09] SamPotts commented on #8
Weird, I'm not seeing that error. The source change works for me although I've just seen that it doesn't reset the seek position properly in Chrome (annoying) so I'll look at that.

Currently switching between HTML5 and YouTube isn't supported but I am working on that and will get that sorted before moving on to Vimeo.

[2015-07-27 06:01] calvintam236 commented on #89
After a few tests, I see it gives out error code 4 via console.log(plyr_object.media.error).
Error code 4 is MEDIA_ERR_SRC_NOT_SUPPORTED.
I do not know why it fires this error. Weird because the video I tested can play with native player, just not plyr...

[2015-07-27 06:21] calvintam236 commented on #8
I see that warning message everytime I fullscreen the youtube video on the demo. Another warning I see is "Untrusted origin: https://www.youtube.com".

Is it possible to add caption support for YouTube videos?

[2015-07-27 06:23] calvintam236 commented on #8
@nahtnam @SamPotts Good news! Twitch is phasing out Flash for HTML5. http://www.vg247.com/2015/07/24/twitch-takes-another-step-in-ditching-flash-with-new-html5-player/

[2015-07-27 06:28] nahtnam commented on #8
@calvintam236 Yep, but I havent actually seen it yet. I would really like a twitch version of plyr.

[2015-07-27 06:32] calvintam236 commented on #8
@nahtnam It seems twitch.tv works without flash now. I disabled the flash player on Safari, and the video can play. It just works with HTML5.

[2015-07-27 06:36] SamPotts commented on #8
The YouTube API (and YouTube in general) is a bit flaky. I occasionally see errors in the console but none actually effect playback which lets be honest, is the most important thing.

There is no API method (that I could see) to toggle captions on or off. Currently it will use whatever your account (if logged into YouTube is set for).

Good news about Twitch. I'll get there, but Vimeo first. They

[2015-07-27 06:47] calvintam236 commented on #8
@SamPotts The caption option does not load for YouTube videos. Does not show icon nor caption. Try this video with captions at your demo.
[code]

I can load twitch video without flash. They might just roll it out and the CND is not updated yet. Attached screenshot on Safari. Works with front page video as well.

![safari_twitch](https://cloud.githubusercontent.com/assets/6436149/8900043/62e954e0-3

[2015-07-27 06:53] calvintam236 commented on #8
@SamPotts Is this the parameter you are looking for in order to enable caption? https://developers.google.com/youtube/player_parameters#cc_load_policy

[code]

[2015-07-27 07:04] nahtnam commented on #8
@SamPotts Twitch mentioned somewhere that html5 **only** works on user pages...

[2015-07-27 07:06] calvintam236 commented on #8
@nahtnam It seems work in other places now. Test it yourself without flash.

@SamPotts I just get another error at YouTube when I changed the source at your demo.
[code]
A possible solution at http://stackoverflow.com/questions/16941139/methods-of-removing-the-youtube-iframe-api-console-error-blocked-a-frame-with

[2015-07-27 08:56] SamPotts commented on #8
@calvintam236 Yes. I use Opera though, which also doesn't work for HTML5 on Facebook because they UA sniff, no other reason. Another reason UA sniffing is not ideal. If you change UA to Safari, videos play fine. Still, I'll do twitch after Vimeo like I say.

Well that error will be caused by their API I guess then, since the API is used to create the iframe. I'll look into it though. Odd that I'm

[2015-07-27 11:09] k-zakhariy commented on #98
I want to make player something like soundcloud
![screen2](https://cloud.githubusercontent.com/assets/5267851/8904551/056fff34-3469-11e5-9f8e-775a581c37d5.jpg)

[2015-07-27 17:41] martindale commented on #8
@ChangeTip, give @SamPotts $5 for working so hard on this library!

[2015-07-27 17:42] changetip commented on #8
Hi @sampotts, @martindale sent you a Bitcoin tip worth 16,949 bits ($5.00), and I'm here to deliver it ➔ **[collect your tip](https://www.changetip.com/collect/876280)**.

**[Learn more about ChangeTip](https://www.changetip.com/tip-online/github)**

[2015-07-27 17:47] nahtnam commented on #8
Ill second that. :P

[2015-07-27 17:47] nahtnam commented on #8
@changetip, give @SamPotts 0.01456 BTC for being so $wag.

[2015-07-27 17:48] nahtnam commented on #8
@ChangeTip, send $4 to @SamPotts !

[2015-07-27 17:49] changetip commented on #8
Hi @sampotts, @nahtnam sent you a Bitcoin tip worth 13,559 bits ($4.00), and I'm here to deliver it ➔ **[collect your tip](https://www.changetip.com/collect/876283)**.

**[Learn more about ChangeTip](https://www.changetip.com/tip-online/github)**

[2015-07-28 00:07] SamPotts commented on #8
Cheers guys, that's awesome :+1: :+1:

I'll work on Vimeo and Twitch asap.

[2015-07-28 01:18] nahtnam commented on #8
@SamPotts Awesome. I have been insistent on Twitch because my site is going to be related to gaming. ;)

[2015-07-30 08:48] Veyfeyken opened #103 "screenreader support"
The current version does not work with the most popular screenreaders.

VoiceOver doesn't read the labels for the checkboxes (toggle mute and captions).
NVDA and Jaws only read the play-button because it has an aria-label. The other controls are read as "button".

Every control has an text-alternative `<span class="player-tooltip">` that's shown on hover or on focus.

I think they're being ignored

[2015-07-30 08:57] SamPotts commented on #103
Ah sorry to hear about this. I'll install NVDA on my Windows box and fix it up. I'd been testing on Voiceover on Mac which I guess is fairly niche but even that doesn't read the tooltips for the checkboxes even though they have labels but I think it's to do with `visibility: hidden

[2015-07-30 08:59] SamPotts commented on #103
What did you mean by "Using 's with a description"?

[2015-07-30 09:00] Veyfeyken commented on #103
`<span>`'s

[2015-07-30 09:01] Veyfeyken commented on #103
I think using the current descriptions that are shown on hover is the best approach. Don't use ARIA if you don't have to.
http://www.w3.org/TR/aria-in-html/#first-rule-of-aria-use

[2015-07-30 09:04] SamPotts commented on #103
Ok awesome. I'll work on this a bit later today/tomorrow as it should be a quick win. Thanks for reporting it :+1:

[2015-07-30 09:06] Veyfeyken commented on #103
Thx for looking into this. I hope I can recommend the player as fully accessible in the near future.

[2015-07-31 14:12] ChristianPV opened #105 "Youtube - Can't stop video after clicking on progress bar before actually playing the video"
Hi, i think i have found a problem with the youtube player. Here are the steps for reproducing it.

1. Open plyr.io
2. Click on Youtube Tab.
3. Click on progress bar without starting the video.
4. Try to stop the video.
5. ???.

Browser: IE11. Google Chrome, and Firefox Latest version. Windows 8.1.

[2015-07-31 14:35] SamPotts commented on #105
Dang. I'll take a look.

[2015-07-31 14:38] SamPotts commented on #103
Hey, can you check out http://plyr.io? I think I've fixed this now?

[2015-08-03 08:03] calvintam236 commented on #105
@ChristianPV You can stop/resume by clicking the screen. The button is not working nor reflecting the player status.

[2015-08-03 09:24] Veyfeyken commented on #103
* Works with NVDA 2015.2 in Firefox
* Works with Jaws 16 and 15 in IE11.
* Unfortunately VoiceOver still ignores the `<label>`'s for toggle mute and captions. (OS X Yosemite 10.10.4 with Safari 8.0.7). You're hiding them with opacity: 0, that shouldn't impact VoiceOver. I can't explain this behaviour.

[2015-08-03 11:06] SamPotts commented on #105
@calvintam236 @ChristianPV Seems to be a bug with the YouTube API. I'll see if I can find a workaround.

![screen shot 2015-08-03 at 9 05 01 pm](https://cloud.githubusercontent.com/assets/719092/9036288/6fa67ef4-3a23-11e5-9bbd-50d6edacb04c.png)

[2015-08-04 19:15] ChristianPV commented on #105
@calvintam236 I know you can do that but should the user do that and why should they? it's not expected behaviour and not their responsability to look for workarounds. @SamPotts How is it going? If it's a youtube bug, i think we could hide the progress bar until the user starts the video. What do you think?

[2015-08-04 19:20] calvintam236 commented on #105
@ChristianPV My comment is a workaround until the issue being fixed, and also part of troubleshoot.. I do not think it should hide the progress bar because a lot of people seek the video to a point instead of the beginning.
@SamPotts YouTube just updated their HTML5 player in the website. The controls background are now transparent :) Should have changes to API as well. http://www.engadget.com/201

[2015-08-04 19:35] ChristianPV commented on #105
I found out that you can not click the button that forwards the video for 10 seconds, as it currently restarts the video. @ Calvintam236 I understand that it is an interim solution but your suggestion puts two buttons unusable vs none with what I am suggesting. The user can search the video to a point after clicking play.

[2015-08-05 00:41] SamPotts commented on #105
I've been working on it when I can but basically the issue is that their `onStateChange` callback does not fire when you seek before you start playback. This basically breaks the script from that point onwards. We're not alone...
https://code.google.com/p/gdata-issues/issues/detail?id=4706

[2015-08-05 09:19] MichielBijl commented on #103
Why does the mute toggle button use an `<input type="checkbox">`? Why not use a `<button>`? You could mark it up as [described in the Authoring Practices](https://rawgit.com/w3c/aria/master/practices/examples/button/button.html).

This could potentially solve the issue; as none of the other controls (`buttons`) seem to have the problem.

That only leaves the subtitle button, which can use the same

[2015-08-05 16:57] calvintam236 commented on #105
@SamPotts Updating @ChristianPV's last comment. It cannot seek the video to a particular point when the video has seeked before starting. I believe it is the same root cause.

@ChristianPV My previous comment is not a suggestion. ```My comment is a workaround until the issue being fixed, and also part of troubleshoot..```

[2015-08-06 03:03] calvintam236 commented on #105
@SamPotts @ChristianPV I just created a pull request to fix the events are not fired and video cannot seek before video started.

I notice other issues like keyboard control in YouTube player is different than plyr itself. I don't know @SamPotts is willing to match the keyboard control or just disable it (adding disablekb: 1 in YT object). Right now, when you use arrows to seek, the progress does

[2015-08-06 03:18] SamPotts commented on #105
Thanks @calvintam236 , I'll take a look at your pull request and give it a test.

I wouldn't add arrow support into the core library since it is ok on YouTube.com as a concept because each video has it's own page so there's no chance of two players being present whereas with Plyr that's not the case. The arrow keys *will* work when you are focused on the progress bar, as is the default behaviour f

[2015-08-06 03:18] calvintam236 commented on #105
To fix @ChristianPV issue completely, plyr should not start the video after seeking. No such issue on Youtube.com player though.

[2015-08-06 03:20] SamPotts commented on #105
This is the default behaviour of the YouTube API unfortunately. Calling `.seekTo` in their API will automatically play the video.

[2015-08-06 07:00] SamPotts commented on #103
Good suggestion @MichielBijl , I'll change them to toggle buttons which should resolve it for Safari. Oddly Chrome on OSX reads the labels correctly.

[2015-08-08 04:37] #101 closed

[2015-08-08 04:37] #105 closed

[2015-08-08 04:39] SamPotts commented on #101
Hey Lionel, I've added in `i18n` as an option. See [controls.md](https://github.com/selz/plyr/blob/master/controls.md) for more info. :+1:

[2015-08-08 04:39] SamPotts commented on #105
Thanks to @calvintam236 for your help with this :+1: Looks to be all resolved now.

[2015-08-08 05:18] SamPotts commented on #103
I've implemented the 'aria-pressed' attribute on toggle buttons and it seems to get picked up in Chrome on OSX as a toggle button (also reads selected state) using voiceover. NVDA in windows also works too and states they are toggle buttons.

I've also made some improvements so that captions are read by NVDA etc (using live regions).

If you find anything else please let me know. I'm keen to make

[2015-08-08 13:27] MichielBijl commented on #103
Nice work!

[2015-08-10 13:00] ChristianPV commented on #105
@calvintam236 Thanks for solving this!! :+1:

[2015-08-11 06:21] calvintam236 opened #109 "Mute icon disappears"
I updated my script to v1.3.2. The mute icon does not show when volume is greater than 0, and it will show super big when muted.

![muted](https://cloud.githubusercontent.com/assets/6436149/9191470/853fb60c-3fb6-11e5-9d11-7579d990d923.png)

[2015-08-11 07:22] SamPotts commented on #109
Did you update the LESS also? Does the same happen on http://plyr.io

[2015-08-11 07:24] SamPotts commented on #109
The control markup changed as a result of #103 which would cause this. You need to upgrade your LESS or SCSS me thinks.

[2015-08-11 07:26] calvintam236 commented on #109
I am using the CSS file from the dist folder. I looked into the code, and plyr does not generate the button. Live demo at http://calvintam236.github.io/media-plyr/

[2015-08-11 07:30] SamPotts commented on #109
OK so it's probably the captions markup that you've not changed. I did add a note to the change log:
https://github.com/Selz/plyr/blob/master/changelog.md#v130

More info here:
https://github.com/Selz/plyr/blob/master/controls.md

A pretty small change really (`<input>` + `<label>` to `<button>`) which made more sense accessibility wise and it cleaned up the CSS and JS a bit also.

[2015-08-11 07:32] calvintam236 commented on #8
[code]
Finally found out why this message is showing up. If you run the site in HTTP, you will get it as The Chromium Projects marked HTTP as non-secure. https://goo.gl/rStTGz

[2015-08-11 07:34] SamPotts commented on #8
I'll create another issue for that. Not really too sure what to do there apart from disable full screen on non HTTPS for Chrome then.

[2015-08-11 07:39] calvintam236 commented on #109
Thanks. Fixed.. :+1:

[2015-08-11 07:39] #109 closed

[2015-08-11 07:39] SamPotts commented on #109
Awesome :+1:

[2015-08-11 07:45] calvintam236 commented on #8
@SamPotts Actually I also see this message in Opera. At this moment it is just a warning which can be ignored; however, when The Chromium Projects kills it, everyone using plyr with HTTP cannot use full screen.

[2015-08-11 07:53] SamPotts commented on #8
Just upgraded to Opera 31 and seeing it myself. OK I'll start an issue since it's not related to this one.

[2015-08-11 07:56] SamPotts opened #110 "Fullscreen and non HTTPS on WebKit"
Update docs to include information about using HTTPS with fullscreen to prevent the console warning:

The fullscreen helper should detect support once the functionality is removed but you never know.

[2015-08-11 11:36] Veyfeyken commented on #103
Hi, looks like all controls are read by most screenreader-browser-combinations now. Good job.

Unfortunately "aria-pressed" is not well supported. Using toggle buttons like the play-pauze button would be better. "Mute - unmute", "captions on - captions off". That 'll work for every screenreader in any context. Again, if you can do it without ARIA, that's always better.

Regarding captions with liv

[2015-08-11 11:55] MichielBijl commented on #103
@Veyfeyken do you have any sources for aria-pressed support? According to [this post on TPG blog](http://www.paciellogroup.com/blog/2010/10/jaws-support-for-aria/) JAWS supports it. Here is a document that states [it's supported as far back as JAWS 8 + IE8](http://files.paciellogroup.com/blogmisc/ARIA/togglebutton.html). It was also [added to Bootstrap](https://github.com/twbs/bootstrap/commit/e1d

[2015-08-11 12:41] SamPotts commented on #103
Hey @Veyfeyken, I've removed the live region now so captions should no longer be read. I thought the same after I'd released it that perhaps it wasn't really needed given the captions intended purpose and thought about removing that. :+1:

[2015-08-11 12:41] SamPotts commented on #103
Happy to make a button change at some point...

[2015-08-11 12:44] Veyfeyken commented on #103
@MichielBijl , our own tests. VoiceOver ignored it. Jaws and NVDA have support. My colleague tested with Supernova, popular in Belgium and the Netherlands. To my surprise, even Supernova supports it. So only VoiceOver (with Safari) is a problem. So I humbly take back my statement, support is better then I thought. We didn't test with older browser versions or mobile.

[2015-08-11 12:45] MichielBijl commented on #103
@Veyfeyken thanks for the information :)

Here is a link to [my conversation on a11ySlackers](https://gitter.im/w3c/a11ySlackers?at=55c9e75c7f578b465ff4ac3d).

[2015-08-11 13:09] SamPotts commented on #103
Chrome and Opera read the buttons as toggle buttons in Voiceover. I guess I should be consistent and change the play/pause to be a toggle switch or do you think it's ok as is?

Thanks again for your help :+1:

[2015-08-11 13:14] MichielBijl commented on #103
@SamPotts the play button label changes to “Pause”; it's not a toggle button. So that is fine as is.

[2015-08-11 13:33] lionel-m commented on #101
:+1: Thanks !

[2015-08-11 20:08] nahtnam commented on #110
For anyone having this issue, I would recommend using cloudflare. They provide free ssl. It's not 100% secure, but its better than nothing.

[2015-08-11 20:09] nahtnam commented on #8
For the record, the https issue is #110

[2015-08-13 08:56] calvintam236 opened #112 "Google Cast support"
Just an idea... Should work with Chrome (Desktop, Android, iOS), Opera (Desktop, maybe Android as well?), and Firefox (Android).

Documentation: https://developers.google.com/cast/docs/chrome_sender

[2015-08-13 16:01] deezahyn opened #113 "how do I add tooltip?"
Here's my jsbin:
http://output.jsbin.com/resanu/1

I'm talking about this part:
![tooltip](https://monosnap.com/file/3gH6HXpmdiZSIoYCxM3TTmTksDnT1n.png)

[2015-08-13 20:38] #113 closed

[2015-08-14 00:31] SamPotts commented on #112
Good idea :+1:

[2015-08-19 11:28] #103 closed

[2015-08-21 13:11] OGPoyraz opened #114 "Multiple Youtube videos"
Hey,
First of all thank you for great plugin.
I just wanna ask is it possible to add multiple youtube videos on the same page ?
When I try to initialize plyr, there isnt any error but second player doesnt pop up. Sorry for it's a noob question.
Thanks in any advice
<img width="776" alt="screen shot 2015-08-21 at 15 59 16" src="https://cloud.githubusercontent.com/assets/7644512/9408739/e5f7a2b0-481

[2015-08-21 13:12] SamPotts commented on #114
Hey mate, I'll check this out and let you know. Thanks for raising it :+1:

[2015-08-24 18:49] MaryCoding opened #115 "Loop Functionality for API - Loop video n times"
Overall a great tool. However I dont see a way to set a loop counter for video through API. I know there is an html5 video attribute `loop`. This will make the video play infinitely. However, is there a way to set limits to loop. For example, set video to only play 5, 10 or 15 times. An icon they could click to set that number. Any ideas? Looking forward to your thoughts about this.

[2015-08-25 12:46] SamPotts commented on #8
I have Vimeo in a working state now but the issue is that Vimeo's embed has limited options in terms of controls. The emphasis is left more to the video owner. I have, however found a way to hide the controls (while still being responsive of course) by making the iframe taller than 16:9 (the video is centered) so the controls are hidden in the overflow. This has me worried though that it will be a

[2015-09-01 13:23] daveystruijk opened #116 "Issues when dynamically initialising/destroying players"
Example: http://jsfiddle.net/6Evrq/672/

I'm trying to use plyr as an Ember component that dynamically gets inserted/removed whenever the user navigates to a certain route. What happens is:

1) If I navigate away from the video route too quickly (while a player is still loading/initialising), the page breaks and plyr's YouTube player raises on plyr.destroy(): `Uncaught TypeError: Cannot read prope

[2015-09-05 01:30] SamPotts commented on #115
I'll see if I can work on something. I need to do something for playback speed as well so this could be done at the same time.

[2015-09-05 01:31] SamPotts commented on #116
I'll take a look. Thanks for reporting it...

[2015-09-10 23:51] MaryCoding commented on #115
:+1:  Awesome.

[2015-09-11 00:01] MaryCoding opened #117 "Method/Feature to skip to next/previous video"
Per my last [issue # 115](https://github.com/Selz/plyr/issues/115#issuecomment-137891990) I opened a few days ago, I wanted to follow up with another essential feature: Buttons embedded in the video player to skip to next/previous video. Similiar to how youtube does(shown below). I have a list of videos I was wondering of a way I could skip through and play .

![prev_next_button](https://cloud.git

[2015-09-11 14:47] CSCG commented on #98
@k-zakhariy You would just create multiple audio elements for the page, like soundcloud -- from there, bind the active player to one set of UI at the bottom, as per your screenshot. From there, everytime a song is skipped or ends, the active player UI at the bottom would inherit information from next element in the playlist. This isn't something for @SamPotts to handle, rather it's up to you for c

[2015-09-12 23:57] #114 closed

[2015-09-12 23:58] SamPotts commented on #114
Hey, this should now be fixed! Sorry about that. Cheers :+1:

[2015-09-30 22:11] martindale commented on #8
Can we unify the API for YouTube vs. other sources?  It's extremely inconvenient to have to tear-down and reconstruct a new Plyr instance when switching from a YouTube source to an MP3 source, and vice-versa.

[2015-09-30 23:19] SamPotts commented on #8
Yep. I'll work on that this weekend then. Makes sense. I'll release it with Vimeo as well (which is pretty much done).

[2015-10-04 14:37] SamPotts commented on #117
Hey Mary,

This will be included in the playlists (#3) when I get around to it. It's my next big milestone though.

[2015-10-04 14:44] SamPotts commented on #8
I've basically rewritten how the `.source` api function works, it will now only accept an object but has much greater flexibility which makes sense for the next big feature, playlists. You can change type, specify title (for the aria label on the play button), specify multiple or single sources and tracks (although only one track is supported until I sort out multiple tracks).

[code]

This is cur

[2015-10-04 18:24] martindale commented on #8
This is great.  I'll be using this immediately (from the `develop` branch indeed, but will switch to a release as soon as it's available).  Thanks a ton!

[2015-10-04 22:30] martindale opened #118 "Instantiating Plyr, Acquiring Instance"
There's little documentation about acquiring a Plyr instance, despite all the documentation describing a simple `player` variable.  How is this `player` element acquired?  `document.getElementById`?  Why is Plyr seemingly auto-binding to certain elements, but not others?  How can I specifically target an element for Plyr instantiation?

[2015-10-04 22:31] martindale commented on #118
Suggestion: `var player = plyr.setup('.some-css-selector');`

[2015-10-05 00:15] SamPotts commented on #118
Well the instance is stored against the original selector. I agree it could be made more clear but it's essentially covered here:
https://github.com/Selz/plyr#api

e.g.

[code]

Also setup will return the element similar to your second example, however if you have multiple on the page, it will return them all, which might be less than useful.

[code]

However currently setup only accepts a full co

[2015-10-05 00:28] SamPotts commented on #8
Cool. Let me know if you find any bugs, I'm still finishing it up.

[2015-10-05 00:32] calvintam236 commented on #8
@SamPotts Can you update the API doc for .source()? For tracks, is it necessary to put kind, label, etc.? Can I just give a link if I have only one track?

[2015-10-05 00:35] SamPotts commented on #8
Yes I will once it goes to the `master` branch. As I said, it's in the `develop` branch at present so if I update the release docs, it'd be a bit pointless.

Yes, I'll probably add that back in although it won't be as useful as the full object as above.

[2015-10-05 00:40] calvintam236 commented on #118
In my opinion, I would prefer:
[code]

[2015-10-05 00:41] SamPotts commented on #118
What do you think @martindale ?

[2015-10-05 04:23] SamPotts commented on #118
OK. I've made it like so:

Passing a [NodeList](https://developer.mozilla.org/en-US/docs/Web/API/NodeList):
[code]

Passing a [HTMLElement](https://developer.mozilla.org/en/docs/Web/API/HTMLElement):
[code]

Passing a [string selector](https://developer.mozilla.org/en-US/docs/Web/API/Document/querySelectorAll):
[code]

Passing just the options object:
[code]

This will go in v1.4 in the next coupl

[2015-10-05 05:38] SamPotts commented on #118
Added docs here in the `develop` branch:
https://github.com/selz/plyr/tree/develop#quick-setup
and
https://github.com/selz/plyr/tree/develop#api

Will add more on the

**Warning** classnames and the default hook will change in 1.4 to `plyr` instead of `player` to be consistent. Easy enough to find/replace.

[2015-10-05 17:53] nathancharles commented on #53
Any update on this feature?

[2015-10-05 21:44] SamPotts commented on #53
I'm working on this next along with loop controls for #115

[2015-10-05 22:13] martindale commented on #118
I like the new method, it's much more in line with expectations.  I'd go so far as to not instantiate unless _explicitly_ called; that is to say, don't automatically instantiate on anything (well, definitely not a class name).  Barring that, it looks good! :+1:

Ah, and the other requirement of having a nested `<video>` or `<audio>` tag -- just let it bind to anything, and automatically create the

[2015-10-05 22:16] martindale commented on #8
Okay, started my integration, but I'm not sure of the correct approach as expected by the library.  I've posted the following experiment, which implements the general use case I need:

[code]

It seems to correctly load the direct mp3, but not the YouTube video.  Am I doing it wrong?  Maybe this case will help you define an API, alternatively.

[2015-10-05 23:22] SamPotts commented on #118
Yeah, you're probably right. I guess my thinking was just to make it easier for the less technically advanced users out there. I agree with you though, it'd be better to not do it automatically.

My issue with not having an initial `<audio>` and `<video>` element on the page is that there's no non JS fallback in place then. I've tried to keep this a progressive enhancement thing.

[2015-10-05 23:23] SamPotts commented on #8
Damn. I'll take a look. What's your html look like?

[2015-10-05 23:25] martindale commented on #8
It's Jade, but very simply:

[code]

[2015-10-05 23:28] SamPotts commented on #8
That looks fine. I'll have a play tonight and get back to you. Sorry about that.

[2015-10-05 23:55] martindale commented on #8
Heroic.  Getting library interfaces built in a way that's easily accessible is a non-trivial problem.  You're doing an amazing job.

[2015-10-11 10:48] SamPotts commented on #8
Sorry I just looked through this again but basically the shape of your object is a little off. You need to pass the type of the player to the method as well.

[code]

Also calling `play()` straight away on a YouTube video after source change will throw an error because there's a high chance it's not had time to load. I can add a callback if you think it's beneficial, otherwise you can pass an auto

[2015-10-11 19:04] martindale commented on #8
I'd like as consistent an API as possible across all sources; YouTube and direct mp3 streams are the only ones we are using in production now, and we have several different code paths depending on the audio player's behavior with a particular source.  Our choice to use Plyr was in hopes that we can finally find a tool that lets us reduce that to exactly one code path!

Ideally, you use the callbac

[2015-10-11 19:04] changetip commented on #8
Hi @sampotts, I've delivered a tip worth 1,000 bits (1,000 bits/$0.25) from @martindale to your ChangeTip pocket.

**[Learn about ChangeTip](https://www.changetip.com/tip-online/github)**

[2015-10-11 19:27] martindale opened #119 "No "Full Screen" Option When Playing Audio"
This may seem counter-intuitive, but the full-screen menu item disappears when changing to an audio source.  Ideally, the interface is consistent no matter what the media type.

Maybe always use a `<video>` element (which should play mp3s just fine)?

[2015-10-11 19:28] martindale opened #120 "Changing Source While In Full-Screen Does Not Preserve Scaling"
When using the following example code, full-screening the video (if it's the item that plays, see #119) will correctly scale the video to full height and width, but on source rotation (every five seconds) the full-screen mode is preserved, but the video reduces down to a smaller size, leaving the rest of the screen black and unused.

[code]

[2015-10-11 19:56] martindale commented on #98
I think the ability to control the player with custom buttons is what you want here; though, even better would be able to select a different target to render the controls to!

[2015-10-12 08:35] SamPotts commented on #8
Hey @martindale , that's fair enough. I can make the YouTube type `sources` property an array also and do something with error handling. I need to look at this as a whole for HTML5 too.

It does in a way. Once YouTube's API fires a ready event, then event listeners etc are setup. These differ slightly between audio, video, YouTube and Vimeo but to you, they're the same (or should be).

[2015-10-12 08:37] SamPotts commented on #119
I can look into this but feel it would be strange behaviour, what would the fullscreen version show? It would just be a stretched player. I could probably consider this if support for audio covers was added I guess?

[2015-10-12 08:38] SamPotts commented on #120
Good call. Thanks for picking up on this.

[2015-10-12 08:40] SamPotts commented on #98
I could definitely look at a different container to inject the controls to. For sure.

Good idea :+1:

[2015-10-12 21:14] martindale commented on #119
Long-term plans include rendering the audio cover (or Soundcloud track image, which we use [in production today](https://coding.soundtrack.io)!), or potentially later, a Javascript-powered audio visualization.  I'd ignore the latter case  for now and just focus on keeping the interface the same.

I think my crazy visualization dream case will require a `<canvas>` anyway, unless I can figure out ho

[2015-10-12 21:52] SamPotts commented on #119
OK, I'll look at this when adding the cover photo in somehow but don't feel it's worthwhile with the current audio player. It'd be fullscreen and using 5% of the screen real estate which negates the UI consistency for me.

[2015-10-12 22:54] martindale commented on #119
If I can control the fullscreen setting externally, that'd solve the problem, as long as fullscreen isn't eliminated when rotating from a video to an audio track (or vice versa).

[2015-10-24 00:10] martindale commented on #8
Hey @ChangeTip, give @SamPotts a helpful hacker to help him wrap up the YouTube and audio APIs!  Can't wait to finish integration with soundtrack. :D

[2015-10-24 00:10] changetip commented on #8
Hi @sampotts, I've delivered a tip worth a helpful hacker (25,000 bits/$6.97) from @martindale to your ChangeTip pocket.

![a helpful hacker](https://media2.giphy.com/media/HwOmxUKFFNEwU/giphy.gif)

**[Learn about ChangeTip](https://www.changetip.com/tip-online/github)**

[2015-10-24 00:37] SamPotts commented on #8
Heh, thanks for this. I'll try and find some time today to crack on. If not, tomorrow.

[2015-10-25 01:03] SamPotts commented on #8
Pushed changes to the develop branch:
- Fullscreen audio option
- Fullscreen bug fix when changing source
- Docs for `.source` method
- .source api method is universal so the same shape object can be passed for all types although only the first item in the array will be used for YouTube and Vimeo at this point until I work on error handling as a whole.

I think it might be ready to go to master (w

[2015-10-26 19:42] martindale commented on #8
Alright, this looks much better.  There's a couple minor tweaks I'll be submitting in a pull request, but first some questions;

- is `play` among the methods that YouTube doesn't support? `Uncaught TypeError: plyr.media.play is not a function` when attempting to call `player.play()` immediately after loading a YouTube video.
- are you opposed to unifying the `video` and `youtube` "type" at the to

[2015-10-26 20:17] SamPotts commented on #8
- I presume you want to just autoplay the video you added with the API? You can just add an autoplay property to the source as above. It's because the YouTube API needs to load first.
- It would make the code a bit more complex since I'd have to parse the each of the sources before I could determine the actual type of the player to set up the correct markup, etc. I could but it doesn't feel as cle

[2015-10-27 09:43] rashed0 commented on #8
Hello
Please Help Me On
https://www.changetip.com/tipme/rashed0

[2015-10-27 09:43] rashed0 commented on #8
Hello
Please Help Me On
https://www.changetip.com/tipme/rashed0

[2015-10-27 09:46] rashed0 commented on #8
Hello
Please Help Me On
https://www.changetip.com/tipme/rashed0

[2015-10-27 09:46] rashed0 commented on #8
Hello
Please Help Me On
https://www.changetip.com/tipme/rashed0

[2015-10-27 09:52] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:52] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:52] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:52] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:52] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:52] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:52] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:52] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:52] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:52] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:52] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:52] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:52] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:52] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:52] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:52] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:53] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:53] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:53] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:53] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:53] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:53] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:53] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:53] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:53] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:53] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:53] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:53] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:53] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:53] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:53] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:53] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:53] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:53] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:53] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:53] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:53] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:53] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:53] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:54] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:54] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:54] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:54] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:54] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:54] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:54] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:54] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:54] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:54] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:54] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:54] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:54] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:54] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:54] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:54] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:54] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:54] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:54] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:54] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:56] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:56] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:56] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:57] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:57] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:57] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:57] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:57] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:57] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:57] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:57] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:57] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:58] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:58] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:58] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:58] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:58] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:58] rashed0 commented on #8
http://rashed0.tip.me/

[2015-10-27 09:58] SamPotts commented on #8
Locked it while this spamming twat is around

[2015-10-28 05:27] Riim opened #121 "Support browserify and webpack"
`this` in the browserify/webpack module refers not to `window`.

UMD would be ideal.

[2015-10-28 22:39] SamPotts commented on #121
Hey @Riim , I'll take a look and add this into the next release. :+1:

[2015-10-29 22:18] martindale commented on #8
Hrm.  We do want autoplay, but this working shouldn't be dependent on that feature (since we'll be allowing our users to turn the player off entirely).  I'd rather Plyr wait for the YouTube API to emit some sort of "loaded" event, but allow `.play` to be queued up when called so it actually plays when the YouTube event _is_ emitted, not simply hard error... though your comments about polling make

[2015-10-29 23:00] SamPotts commented on #8
Yes, sorry, it's just the way the YouTube API works. Not so great. Both Vimeo and YouTube API's have their flaws. A combination of them both would be good. I could however look at queuing the call to `play()` but that would probably set the expectation that all the other API methods would allow this (meaning massive headache) so perhaps a callback would be better.

Yes, it's more the type of the c

[2015-11-17 16:05] robkluytmans opened #124 "Title tag iframe - Youtube"
W3 says we have to give an iframe a title attribute (http://www.w3.org/TR/2015/NOTE-WCAG20-TECHS-20150226/H64). I see that happening in the Youtube example: **title="YouTube video player"**

Is it possible to define the title of an Youtube iframe?

[2015-11-23 08:48] ForeverPx opened #125 "Not working in IOS9 safari"
When i open http://plyr.io in safari with my iphone , the video is not setup , it use the html5 default player.
But the audio is setup by code.

Chrome in ios also has the problem.

Why is it?

[2015-11-23 23:06] SamPotts commented on #125
iOS doesn't allow custom HTML5 video players. You'll notice all videos (on other sites too) will open the native player. Just one of those things unfortunately.

[2015-11-23 23:06] #125 closed

[2015-11-23 23:07] SamPotts commented on #124
I'll add this into the next release :+1:

[2015-11-24 01:25] ForeverPx commented on #125
Why the buttons didn't display in iOS ?  i saw the source code is SVG.

[2015-11-24 01:27] SamPotts commented on #125
As I say, it's something Apple doesn't support. The native player is *forced* and videos play in full screen no matter what. Native apps have more control.

https://developer.apple.com/library/safari/documentation/AudioVideo/Conceptual/Using_HTML5_Audio_Video/Device-SpecificConsiderations/Device-SpecificConsiderations.html

[2015-11-24 01:32] ForeverPx commented on #125
Oh, I see. Thanks~

[2015-11-24 06:43] ForeverPx commented on #125
is you judge the browser and find if it is safari in ios , you do not setup the video ?

[2015-11-24 06:52] SamPotts commented on #125
Yep. Not point adding the custom controls since the video always opens up in the native player anyway.

[2015-11-24 13:48] robkluytmans commented on #124
Great. Thanks!

[2015-12-08 16:09] sven-er opened #127 "Missing SVG elements when the <base> tag is in use"
hi,

I have the same problem like here: https://github.com/Selz/plyr/issues/91 all the SVG icons are missing.
i found out that the problem is the base tag on my Page, for more Info look here http://stackoverflow.com/a/18265336/796152

I have to use additional JS like the svgfixer.js to solve the problem -> https://gist.github.com/leonderijke/c5cf7c5b2e424c0061d2

Do you think it's possible to inte

[2015-12-09 02:51] SamPotts commented on #127
Will add something for this to the next release :+1:

[2015-12-10 22:35] themoflow opened #128 "Error: templates is not defined when using docs.js unminified file"
When i try using the <i>unminified docs.js</i> file located in the download zip folder at: <i>/docs/src/js/docs.js</i>, I get a js error stating: "templates is not defined". Can i get a version of the <i>unminified docs.js</i> file that doesnt break?

[2015-12-10 23:41] #128 closed

[2015-12-10 23:43] SamPotts commented on #128
Sorry about this. You need to run Gulp to build the templates but I've removed that dependency now so grab the latest version and you should be good.

[2015-12-11 01:08] themoflow commented on #128
i just downloaded the latest version and put the plyr and docs js files into place but i get two errors:

ERROR: shr is not defined
ERROR: templates is not defined

[2015-12-12 02:10] SamPotts commented on #128
Are you seeing these errors on https://plyr.io? The docs code is specific to the docs setup so don't use that for your setup. Take a look through the docs https://github.com/Selz/plyr

[2015-12-12 23:46] themoflow commented on #128
I noticed in your vtt that you also mark the time for the moments that do
not have text. Does this work better than just marking the times when there
is text?

On Fri, Dec 11, 2015 at 6:10 PM, Sam Potts <notifications@github.com> wrote:

[2015-12-13 21:38] SamPotts commented on #128
It seems to be the only way to "clear" the previous text in one of the major browsers. I tested in quite a few when I first did the project. It might no longer be a bug now. I'll check it out.

[2015-12-13 22:53] themoflow commented on #128
I am having issues with my vtt in some browsers and yours has non so i
think it is def the way to go. I just wanted to double check and see if toy
were also having the same issues. Thanks
On Dec 13, 2015 1:38 PM, "Sam Potts" <notifications@github.com> wrote:

[2015-12-14 17:33] themoflow commented on #128
Do you use a special text editor to create your vtt file? Maybe one that
doesnt add hidden characters that mess up the vtt read in or something like
that?

On Sun, Dec 13, 2015 at 2:53 PM, moran tornesella <themoflow@gmail.com>
wrote:

[2015-12-14 20:07] themoflow commented on #128
Oh also, on mobile (or atleast on ipad), after i hit the restart video
button the subtitles stop showing?

On Mon, Dec 14, 2015 at 9:33 AM, moran tornesella <themoflow@gmail.com>
wrote:

[2015-12-16 19:37] themoflow commented on #128
So it sounds like you are saying that docs.js is not a needed js file to
make the player work. but when i take it out i get an error saying:

"templates is not defined".

Is docs js a required file or no? (The docs.js file is not located in the
dist directory also)

On Mon, Dec 14, 2015 at 12:07 PM, moran tornesella <themoflow@gmail.com>
wrote:

[2015-12-16 22:32] SamPotts commented on #128
You need to call `plyr.setup()` which is all mentioned in the docs. I'd really suggest reading that first?

I'll look at your potential iPad bug.

[2015-12-23 21:55] JosephSilber commented on #91
I'm having the same problem (using only audio), but I do fetch them over AJAX. I can even see the SVG in the document:

![image](https://cloud.githubusercontent.com/assets/1403741/11985700/8b04b134-a995-11e5-8d3d-88d9b3a63daa.png)

and I see the `xlink:href` is set up correctly:

![image](https://cloud.githubusercontent.com/assets/1403741/11985714/ac7fc8ee-a995-11e5-9c64-1d60cfe1cba2.png)

But the

[2015-12-23 22:05] SamPotts commented on #91
It could well be a CSS issue, do you have a public page I could take a look at by any chance?

[2015-12-23 22:44] JosephSilber commented on #91
While trying to create a reduced test-case for you, I found the problem.

My HTML document had a `base` tag, which somehow messed up the SVG link. I'm not sure why exactly, but that's what caused it.

For now I removed the `base` tag and it works. Do you know if there's any proper way around it?

[2015-12-23 22:45] SamPotts commented on #91
Someone else has mentioned this recently so I'll look into a solution for users using the `base` tag.

[2015-12-23 22:51] JosephSilber opened #129 "Play button not changing to pause"
It works in the demos, but I can't get it to work. There's no pause button when the audio is playing.

Here's what I've got: http://josephsilber.com/demos/plyr-test/

[2015-12-23 22:56] SamPotts commented on #129
Are you using the `develop` branch? That's not really production ready code at this point.

[2015-12-24 01:34] JosephSilber commented on #129
It happens to me on the master branch as well, but I haven't been able to produce a reduced test case yet.

I'm trying to debug it in my app. I can't figure out where it actually happens in the code.

[All I see here](https://github.com/Selz/plyr/blob/master/src/js/plyr.js#L1754) is that if focuses on the pause button. Where does it toggle the visibility of the buttons?

[2015-12-24 04:49] JosephSilber commented on #129
The problem was that since I wasn't using the standard `.player` class in the HTML, the CSS wasn't applied properly, since it uses the parent as the selector for the buttons.

[2015-12-24 04:50] SamPotts commented on #129
Ahhh it makes sense. I'll add something into the docs about that for v1.5.

[2015-12-24 14:43] JosephSilber commented on #129
Just to be clear: this is not exclusive to the `develop` branch. After you said I shouldn't use the `develop` branch, I switched it out for the `master` branch with this:

[code]

This obviously had the same effect, so this issue is not exclusive to the `develop` branch.

[2015-12-27 03:24] JosephSilber opened #130 "Can't seek on iOS"
In iOS (at least on the iPhone), tapping anywhere in the progress bar does not seek to that position.

[2015-12-27 03:35] SamPotts commented on #130
Is this an issue on plyr.io? Or just an issue on the develop branch? The controls should not even show on iOS due to support issues.

Sam

[2015-12-27 05:56] JosephSilber commented on #130
It's there too. Yes.

Talking about the audio player.

[2015-12-27 07:35] SamPotts commented on #130
Ah, well that's again an iOS quirk where you have to drag the handle of a progress element. However, as its not really visible on the current design, it's not obvious. I was planning on making the controls a little more like the YouTube and new Facebook video controls so I guess I'll do that in v1.5.

Sam

[2015-12-28 19:09] JosephSilber opened #131 "Does not work in iOS Safari private mode"
In Safari's private mode, you can't use localstorage. Any attempt to set an item to local storage will throw a quota exceeded limit, which breaks the whole player.

The only remedy currently is to disable it altogether by setting `storage.enabled` to `false`.

[2015-12-28 23:48] SamPotts commented on #131
Good catch. This an easy fix - need to actually store a test object in storage (in a try/catch) and check it actually stored. I'll make a fix.

[2016-01-03 22:34] puppetMaster3 opened #132 "how to setup controls?"
plyr.setup({'controls:["restart"]'})

this produces error unexpected token }

Is there an example of how to setup controls?

[2016-01-03 22:45] SamPotts commented on #132
Yes because you're passing a JSON `string` as opposed to an `object`. Try this:

[code]

[2016-01-03 23:26] puppetMaster3 commented on #132
tried it just now. now it says setAttributed of undefined.

Maybe because I have multiple players?

[2016-01-03 23:27] SamPotts commented on #132
I've not tried such a bare bones UI so I'll have to get back to you on that.

[2016-01-06 07:44] guido4000 commented on #39
HLS support and MPEG DASH would be great.

[2016-01-09 17:51] gurupras opened #133 "Making changes / building"
I'd like to make changes to the CSS to change the background color of the controls.
I see that the CSS itself is split up between LESS and SASS. I'm new to web development and I have no idea on how to build these to generate (unminified) CSS.

Could you please add instructions or point me in the right direction so that I can achieve this?

[2016-01-10 09:23] SamPotts commented on #127
Actually looking at this, I think this is something the dev should handle at their end rather than including in the code, since the loading of the SVG is really just an example of how it can be done. You should bundle the icons with any other svg icons as part of your build and manage them outside of the plugin. This is what we do with Plyr at Selz.com.

[2016-01-10 09:23] #127 closed

[2016-01-10 09:35] SamPotts commented on #133
Hey @gurupras , the LESS or SASS (you only need one) must be processed into CSS for any changes you make. There's a few ways to do this depending on your environment:
- Gulp / Grunt - Node/JavaScript based built tools
- Codekit - Desktop mac app for building many languages
- Dotless - A nuget package for c#/.NET builds
... and many more

It really depends on your workflow. If you're new to LESS or

[2016-01-10 10:10] SamPotts commented on #80
This will be included in v1.5. Sorry it's taken so long.

[2016-01-10 10:23] SamPotts commented on #98
The custom controls container will be in v1.5. I'm almost done with it. You'll be able to specify a selector (e.g. `.js-plyr-controls`) or a HTMLElement itself.

[2016-01-10 10:26] SamPotts commented on #8
@martindale , I was thinking about your suggestion to use type as video for YouTube and Vimeo and I think it makes sense as we might be able to use YouTube as a source for Audio also (at a later date).

Vimeo will be a *beta* feature on release, I'll need help/feedback on it I think. I think the fragaloop API is really the problem and might have to write my own (it just uses window.postmessage any

[2016-01-12 00:59] SamPotts opened #135 "Keyboard navigation improvements"
https://twitter.com/Sam_Potts/status/668203135173718016

- Fullscreen allows tab outside of context
- Focus styles on seek input

[2016-01-12 01:04] SamPotts commented on #133
Just closing this as an issue. Feel free to reply if you have questions still.

[2016-01-12 01:04] #133 closed

[2016-01-12 11:33] sreinoso opened #136 "Set label"
Hello,
I'm trying to implement this player with a streaming mp3, and I need to put a label inside it.
The final position is:

+------------------------------------+
 | [Play]       Some text   [Time] |
+------------------------------------+

Is this possible?

[2016-01-13 12:38] SamPotts commented on #136
Yep, certainly is. You can write custom controls. More info is here:
https://github.com/Selz/plyr/blob/master/controls.md

[2016-01-13 12:38] #136 closed

[2016-01-13 12:38] SamPotts opened #137 "Tooltip for time on seek input"
Display the time when hovering over the seek input

[2016-01-14 10:43] gurupras opened #143 "Add support for multiple tracks"
Currently, although most of the code is in place to add multiple track elements, `_setupCaptions()` only chooses the first one.

This would also require new CSS for a tiny pop-up menu showing available captions and JS updates to figure out the currently selected one and update the underlying track element.

I'd be happy to work on this if you can write up the CSS part of it.

[2016-01-14 10:45] SamPotts commented on #143
Definitely mate :+1: I've been planning on adding this in at some point. I'll work on the UI when I get some spare time.

[2016-01-15 21:26] joshuajameshunt opened #144 "Multiple media players on the same page"
Hi, I love this player, but I'm running into an issue when I have multiple media players on a page. It does not appear that plyr stops one before starting another, and so I end up with multiple audio files playing at once. Am I missing something in the docs?

[2016-01-16 00:33] gurupras commented on #144
I've never had issues with multiple plyr objects on the same page.
Could you throw up some code on jsfiddle or something and share it? Might be able to better help you that way.

[2016-01-16 01:56] SamPotts commented on #144
I think what he's suggesting is that we have an option to pause other instances on play of a particular player? We could certainly add this as an option.

[2016-01-16 02:23] SamPotts commented on #135
Fixed in [https://github.com/Selz/plyr/releases/tag/v1.5.0](v1.5.0)

[2016-01-16 02:24] #135 closed

[2016-01-16 02:24] SamPotts commented on #132
Fixed in [v1.5.0](https://github.com/Selz/plyr/releases/tag/v1.5.0)

[2016-01-16 02:24] #132 closed

[2016-01-16 02:24] SamPotts commented on #131
Fixed in [v1.5.0](https://github.com/Selz/plyr/releases/tag/v1.5.0)

[2016-01-16 02:24] #131 closed

[2016-01-16 02:25] SamPotts commented on #124
Fixed in [v1.5.0](https://github.com/Selz/plyr/releases/tag/v1.5.0)

It now uses the `title` option.

[2016-01-16 02:25] #124 closed

[2016-01-16 02:25] SamPotts commented on #121
Fixed in [v1.5.0](https://github.com/Selz/plyr/releases/tag/v1.5.0)

Could you please check as I'm new to UMD.

[2016-01-16 02:25] #121 closed

[2016-01-16 02:25] SamPotts commented on #120
Fixed in [v1.5.0](https://github.com/Selz/plyr/releases/tag/v1.5.0)

[2016-01-16 02:25] #120 closed

[2016-01-16 02:25] SamPotts commented on #119
Fixed in [v1.5.0](https://github.com/Selz/plyr/releases/tag/v1.5.0)

[2016-01-16 02:25] #119 closed

[2016-01-16 02:26] SamPotts commented on #118
Fixed in [v1.5.0](https://github.com/Selz/plyr/releases/tag/v1.5.0)

[2016-01-16 02:26] #118 closed

[2016-01-16 02:28] SamPotts commented on #98
Fixed in [v1.5.0](https://github.com/Selz/plyr/releases/tag/v1.5.0) - `selectors.controls.container` is the text selector for where to render controls. I will update docs shortly.

[2016-01-16 02:30] SamPotts commented on #130
Partially fixed in [v1.5.0](https://github.com/Selz/plyr/releases/tag/v1.5.0), I've made the handle larger but will work on a better fix shortly.

[2016-01-16 02:30] #130 closed

[2016-01-16 02:30] SamPotts commented on #129
Fixed in [v1.5.0](https://github.com/Selz/plyr/releases/tag/v1.5.0). `plyr` is now exclusively the namespace for CSS.

[2016-01-16 02:30] #129 closed

[2016-01-16 02:30] SamPotts commented on #8
Fixed in [v1.5.0](https://github.com/Selz/plyr/releases/tag/v1.5.0)

[2016-01-16 02:30] #8 closed

[2016-01-16 02:31] SamPotts commented on #80
Fixed in [v1.5.0](https://github.com/Selz/plyr/releases/tag/v1.5.0) as part of the new `source` API changes.

[2016-01-16 02:31] #80 closed

[2016-01-16 02:32] SamPotts commented on #116
Hi, could you give this another go with the latest version?

[2016-01-18 13:27] liuronghuan commented on #89
can i have a look at your player please?

[2016-01-18 13:32] liuronghuan opened #145 "Is there anything wrong in my code thanks for your help"
who can help to check the listed codes thanks Please forgiving my poor english
<script>
  plyr.setup({
    enabled: true,
    captions: {
      defaultActive: false
    },
    controls: ["play", "current-time", "duration", "mute", "volume", "captions", "fullscreen"],
    html:["<div class='player-controls'>",
    "<div class='player-progress'>",
        "<label for='seek{id}' class='sr-only'>Seek<

[2016-01-18 13:35] liuronghuan commented on #145
<script>
      plyr.setup({
        enabled: true,
        captions: {
          defaultActive: false
        },
        controls: ["play", "current-time", "duration", "mute", "volume", "captions", "fullscreen"],
        html:["<div class='player-controls'>",
        "<div class='player-progress'>",
            "<label for='seek{id}' class='sr-only'>Seek</label>",
            "<input id='seek{id}'

[2016-01-18 13:37] SamPotts commented on #145
You only need to specify options if they are different from the default. In the case of the `html` option, you could omit that and just use the `controls` option like you have.

[code]

What's your HTML markup?

[2016-01-18 13:51] liuronghuan commented on #145
i want to make the html different from the default ,but it make an error
[code]
the string i take place with the code https://github.com/Selz/plyr/blob/master/controls.md#example-1

Finally the code is

[code]

[2016-01-18 18:11] calvinl opened #146 "NPM package"
Any plans to make plyr available via npm?

[2016-01-18 18:50] calvintam236 commented on #89
I haven't tried on the latest version yet. You can paste the string in src to test on the new version. Old verson here: http://calvintam236.github.io/media-plyr/

[src.txt](https://github.com/Selz/plyr/files/94855/src.txt)

[2016-01-18 22:50] SamPotts commented on #145
You don't need to use the `controls` option if you're specifying `html`, they are mutually exclusive. What have you changed in the HTML and what is the error?

[2016-01-18 22:55] SamPotts commented on #145
Sorry, the controls docs were out of date. I've just updated. Try the updated code.

[2016-01-19 10:43] SamPotts commented on #146
Sounds good. Will take a look :+1:

[2016-01-20 13:20] partageux commented on #145
The same for me : I try to change the disposition of the html tags in my présentation by using a script "plyr.setup" in my template, but your explanations have no clarity. In fact I want to insert carriage returns before "plyr__controls--left" and "plyr__controls--right" for separate in 3 lines : 1-the progress, 2-the controls and 3-the timing with the sound. Have you a solution ? thanks (from Fra

[2016-01-20 13:35] SamPotts commented on #145
You don't need line breaks. It's simple HTML. A line break (unless you mean `<br>`) means absolutely nothing. Basically it just needs to be a string.

You could use something like this:
[http://www.accessify.com/tools-and-wizards/developer-tools/html-javascript-convertor/](http://www.accessify.com/tools-and-wizards/developer-tools/html-javascript-convertor/)

and select `Build up a string variable

[2016-01-20 14:41] partageux commented on #145
I think you don't understand the question. :)

1 •
In my template I start with :
<script>
plyr.setup({
    html: **my controls**
});
</script>

2 •
And then I exactly paste your code (I will modify this later on) :
    html: ["<div class='player-controls'>",
    "<div class='player-progress'>",
...etc

But your code doesn't work. What to do ?

…/

[2016-01-20 22:46] SamPotts commented on #145
There were three class names that wrong but they didn't throw an error, just made the controls look weird. I've fixed that now in the example:
https://github.com/Selz/plyr/blob/master/controls.md

I've used those exact controls here:
https://jsfiddle.net/587x93rd/

Seems to work fine for me?

[2016-01-23 15:30] ivanvermeyen opened #148 "SCSS compile errors"
Hi,

Your player looks absolutely awesome!

I was trying to compile your SCSS with Gulp and got some errors.
It seems there are 2 issues in "plyr.scss":

On [line 49](https://github.com/Selz/plyr/blob/master/src/sass/plyr.scss#L49) "@gray-dark" is not recognized. I changed this to "$plyr-gray-dark".

On [line 62](https://github.com/Selz/plyr/blob/master/src/sass/plyr.scss#L62), there is a semicolo

[2016-01-23 16:10] ivanvermeyen commented on #148
On [line 390](https://github.com/Selz/plyr/blob/master/src/sass/plyr.scss#L390) the reference to "plyr__progress" is faulty: "&--progress" should be "&__progress".

[2016-01-23 19:14] ivanvermeyen opened #149 "Autohide controls after mouseleave"
Hi,

When I open a YouTube or Vimeo video in fullscreen, the controls hide as intended. When I move the mouse over the progress bar at the bottom, the controls slide up, but when I move the mouse back up, they don't hide again. I'm having this issue with the latest Chrome and Firefox on OSX.

After doing some console.logs, it seems that "mousemove" on the ".plyr" container isn't triggered when you

[2016-01-23 23:18] SamPotts commented on #148
Thanks mate, I'll fix these up. :+1:

Oddly I do test by running the `gulp sass` task but it didn't throw any errors.

[2016-01-23 23:26] ivanvermeyen commented on #148
Thanks! :+1:

Also, in relation to #149, if I use the SASS compiled CSS, the controls don't hide at all. If I find out why, I'll let you know. What I described in #149 is tested with the dist/css version.

[2016-01-23 23:27] SamPotts commented on #148
Cool mate. Looking at #149 now.

[2016-01-23 23:31] ivanvermeyen commented on #148
Oops wrong button :)

[2016-01-24 00:27] SamPotts commented on #148
No worries, just pushed the fixes :+1:

[2016-01-24 00:27] #148 closed

[2016-01-24 00:28] SamPotts commented on #149
I ended up re-writing this as the new source stuff meant after source change, the events weren't bound properly. Could you give the latest version a check?

[2016-01-24 18:55] ivanvermeyen commented on #149
Thanks for the fast response! With the dist/css it works like a charm! :)

When I use the compiled SCSS the controls never hide though. Probably still a typo somewhere in the SCSS.

[2016-01-24 19:42] ivanvermeyen commented on #149
I think I found it, on [line 643](https://github.com/Selz/plyr/blob/master/src/sass/plyr.scss#L643) in the SCSS file I changed:

[code]

into:

[code]

(added "-enabled" to the first selector).

Seems to compile and work now.

[2016-01-24 21:37] #149 closed

[2016-01-24 21:37] SamPotts commented on #149
You're right - it needed to be outside that block (which it is in the LESS, hence that working). All sorted :+1:

[2016-01-24 23:20] #145 closed

[2016-01-25 05:01] ablipan commented on #146
+1

[2016-01-25 13:56] marvinhagemeister commented on #146
+1 hit this today at work when a colleague wanted to install it via npm

[2016-01-25 23:08] #146 closed

[2016-01-25 23:09] SamPotts commented on #146
The latest version is now included in npm. Let me know if you run into any problems.

[code]

[2016-01-26 09:40] matuzo commented on #98
I was just looking at the code for `selectors.controls.container`. Did I get it right that the controls are just injected into the container and not duplicated? Because I think what @k-zakhariy was looking for was a second, synced instance of the controls. As you can see here <https://soundcloud.com/kanyewest>, you can control a song with both controls.

If I'm wrong, I'd really appreciate some he

[2016-01-26 11:47] SamPotts commented on #98
Points off for using Kanye West as the example but I see what you mean now. That might require some more work. I'll re-open this one then :+1:

[2016-01-26 11:53] matuzo commented on #98
Haha, it was honestly just the first link on the homepage ;) Thank you. Please tell me, if I can help out testing or anything else.

[2016-01-26 16:04] marvinhagemeister opened #153 "Requiring plyr with webpack"
One last issue I've hit with using plyr as an npm module is the way it's loaded. I'm using webpack as a module bundler which should (according to the docs) support both AMD and CommonJS style modules. Unfortunately it does not work for me, whereas exporting plyr as a CommonJS module first works perfectly. PR #152  swaps the checks for AMD/CommonJS and puts CommonJS in front.

I'm not sure if this

[2016-01-28 07:33] k-zakhariy commented on #98
Yesterday I tried to update to new version of Plyr but no success, there is some error in console, sorry I didn't remember what was exactly here.

[2016-01-28 07:55] SamPotts commented on #98
Hard for me to help if I don't know what the errors are... v1.5+ does require some config changes so that might be the issue.

[2016-01-31 11:30] kakaska opened #155 "Caption from blob"
Currently when I add a `<track>` with blob source like this:

[code]

the player doesn't show the caption.

Debug message:

[code]

Btw I don't understand the debug message because I use Chrome 48 and that supports textTracks

[2016-01-31 11:32] SamPotts commented on #155
I will take a look. There were several bugs with VTT captions and WebKit browsers, hence rendering using the in built engine instead. I will have a look and see if things have changed though.

[2016-02-04 03:54] calvintam236 opened #157 "Cannot use Data URI for source (Chrome, Opera, maybe more)"
On v1.5.10, I can no longer user data uri for source. I got this error when calling plyr.source(datauri).
`Uncaught TypeError: Cannot use 'in' operator to search for 'sources' in datauri`

You can get a data uri file sample at issue #89 as that issue is not solved.

[2016-02-04 03:56] SamPotts commented on #157
Please check the docs. v1.5 had breaking changes to the `source` api method.

[2016-02-04 04:01] calvintam236 commented on #157
@SamPotts You should update the API doc in the table. I didn't notice you wrote another section for source as in the API table it is showing the old method..

[2016-02-04 04:02] SamPotts commented on #157
Just noticed that and edited :+1: Apologies for the confusion. I think it was a merge with the new get function of the `source` method.

[2016-02-04 04:14] calvintam236 commented on #157
I still get error message after switched to new source method..
```Uncaught TypeError: Cannot use 'in' operator to search for 'type' in d```

I used this: (String is allowed for sources)
[code]

[2016-02-04 04:15] SamPotts commented on #157
OK will give it a test...

[2016-02-04 20:28] ivanvermeyen opened #158 "Set default colors only if they are null (SASS)"
Hi

I was trying to set some colors for the controls, but it seems you are overwriting the vars `$plyr-control-color` and `$plyr-control-color-hover`, based on the lightness of `$plyr-controls-bg` and `$plyr-control-bg-hover`.

https://github.com/Selz/plyr/blob/master/src/sass/plyr.scss#L26-L45

I could change the 'gray' vars, but `$gray: red;` doesn't feel that good :)

Maybe you could add a chec

[2016-02-04 21:49] SamPotts commented on #158
I think using `!default` would solve this? Sorry, I've always been a LESS person and have been meaning to move over to SASS but just haven't found the time. I'll check it out and get back to you.

Cheers :+1:

[2016-02-04 22:29] ivanvermeyen commented on #158
Thanks.

Based on this answer: http://stackoverflow.com/questions/12521197/sass-how-to-set-a-variable-to-equal-nothing the following seems to work for me:

[code]

[2016-02-05 08:50] babielmg opened #159 "Support for video-streaming?"
Hello,

my agency http://babiel.com/en/sites/babiel/home.html is working for the German Federal Ministry for Economic Cooperation and Development (http://www.bmz.de/en/). They are very interested in using your videoplayer on their website, because of the great accessibility-support. Unfortunately your player does not support streaming of videos yet. Is this a future-issue for you? Do you have plan

[2016-02-07 05:14] SamPotts commented on #159
Hey Michael,

This is definitely on the cards. Currently the player only supports the standard progressive download which as you know, isn't ideal. I'm just weighing up the possible solutions at the moment. It seems Safari only supports HLS and everything else supports Media Source Extensions (to a mixed degree). Dash.js is a nice library that wraps MSE and seems to standardise it but still that l

[2016-02-07 05:15] SamPotts commented on #159
There's another related issue, #39

[2016-02-08 08:51] babielmg commented on #159
Sounds good! Thanks for your reply.

[2016-02-08 23:48] franceer opened #160 "MS Edge progress bar tooltip"
Hi,

I've noticed that the % tooltip of input range bar (used in the progress bar) is visible in MS Edge when using default player styles. I think it can be hidden by using css ::-ms-tooltip pseudo element somewhere.

Just saying to improve compatibility ;)

[2016-02-08 23:52] SamPotts commented on #160
Good idea :+1: I'll do this today.

[2016-02-09 00:22] franceer opened #161 "Seeking issues"
Hi,

I tried seeking a youtube video before hitting play button and it never shows the frame of the video (at the seek position) as the player does using HTML5 video tag. We can see the youtube loader for ever.

Another issue by using MS Edge when seeking a youtube video : When you seek forward the progress bar is visually correctly updated but if you try to seek backward(dragging),the bar is not

[2016-02-09 03:19] calvintam236 commented on #157
So I figure it out..
Somehow the ```sources``` is not accepting string as expected. Plyr will work when using this: ```sources: [{src: datauri}]```, but not ```sources: datauri```...

[2016-02-09 03:33] SamPotts commented on #157
Oh sorry yeah, I already updated the docs to mention that it needs to be an array of objects. I assumed you'd seen that part...

[2016-02-09 03:35] calvintam236 commented on #157
In the table before events states it can accept string for ```sources```.. Is that an error?

[2016-02-09 03:37] SamPotts commented on #157
Yes, that was _before _ v1.5. An array is now required. I updated the docs after your initial comment: [#issuecomment-179611449]()

[2016-02-09 03:39] SamPotts commented on #157
There's also a whole section dedicated to it now:
https://github.com/Selz/plyr#source-method

[2016-02-09 03:41] calvintam236 commented on #157
I am referring to this section
![screen shot 2016-02-08 at 7 41 28 pm](https://cloud.githubusercontent.com/assets/6436149/12907082/00c5c45a-ce9c-11e5-97aa-8d91af4d9e7b.png)

[2016-02-09 03:51] SamPotts commented on #157
Ah yes, that needs updating, clearly.

[2016-02-09 04:06] calvintam236 commented on #80
Is it possible to allow adding/ changing track without changing source file? Currently, the ```_updateSource``` check do not allow to change track only...

[2016-02-09 06:46] gurupras opened #162 "Video captions don't work"
I've been trying to get video captions to work for a while and they've been consistently failing.
Unfortunately, since I don't understand much of the source code that goes into rendering captions, I'm unable to track the issue down further.

However, to help pinpoint the issue, I have created a test page should help in reproducing the bug.

I've written [this](https://twoseven.xyz/test-captions) p

[2016-02-09 11:59] franceer commented on #161
I checked on chrome, pausing a youtube video and seeking forward or backward cause the progress bar not being refreshed (as same as FF). When hit play again the progress bar is resfreshed and is accurately positionned at the current video time.

[2016-02-09 14:13] luchiniii opened #163 "Issues in safari for iphone"
Hi
I have been testing this on safari for iphones, and it doesn't work. Also I have severals players on the same page and I get a message saying "Imposible to play this audio file".

Thanks for your help

[2016-02-09 23:49] SamPotts commented on #163
Does it work on plyr.io for you? It sounds like an issue with the audio file to me. Have you tried another file?

[2016-02-09 23:50] SamPotts commented on #162
Sounds like I need to have another look at how the captions are working. The support was mixed at the start of the project and I think things have changed recently. I'll take a look.

[2016-02-09 23:54] SamPotts commented on #161
Sorry about the issues. I'll take a look. :+1:

[2016-02-10 00:21] franceer commented on #161
Hey no problem Sam !! I'm just trying to help by testing the player and pushing it in a corner. This player is very great and you are doing a great job ;) Thank you !!

[2016-02-10 00:21] SamPotts commented on #161
Thanks man :+1: :-)

[2016-02-10 17:50] ronag opened #164 "WebM without duration in header"
Our server generates WebM files without a duration in the header, because it is streamed. However, we do know the duration.

Is there anyway we can manually provide the duration to plyr? Either through e.g. `Content-Duration` header or a property on the javascript object?

[2016-02-10 22:31] SamPotts commented on #164
I could definitely add it as an option to pass in. I'll look into it. :+1:

[2016-02-11 03:45] calvintam236 opened #165 "Change/add track without changing source using API's .source()"
Can you allow the ```.source()``` to change/add track without changing the video/audio source? Currently, the method must feed ```sources``` in order to run ```.source()```.

[2016-02-11 04:39] SamPotts commented on #165
Good idea :+1: I'll work on this for the next release

[2016-02-11 11:46] ronag commented on #164
@SamPotts: Thanks!

[2016-02-11 15:55] Mistermelotte opened #166 "Issues Youtube embed on IOS"
When using the youtube embed the video gets loaded, but you cannot initialize the player. This also occurs on the pyr.io site.

[2016-02-13 10:14] SamPotts commented on #166
Will look into this. Thanks for reporting :+1:

[2016-02-13 10:43] SamPotts commented on #153
Merged this previously. Can I close this or should we keep it open just incase anyone has input?

[2016-02-13 11:18] #137 closed

[2016-02-13 11:19] #158 closed

[2016-02-13 11:19] #160 closed

[2016-02-13 11:19] #166 closed

[2016-02-13 15:05] marvinhagemeister commented on #153
Ah sorry I forgot to close this issue. Thanks for merging!

[2016-02-13 15:05] #153 closed

[2016-02-15 10:11] kolpax commented on #164
+1

[2016-02-16 15:37] ronag commented on #164
@SamPotts: Any update on this? Or maybe I could get some hints what the relevant places to fix this are and I can try adding it myself.

[2016-02-16 23:57] SamPotts commented on #164
I did start at the weekend but the problem is that the duration property of a media element is only a getter so setting it won't be possible meaning I'll have to abstract it to to another variable somehow. Should be fine, I'll create a 'getDuration' method which will return the custom duration (if specified) or the determined duration. I'll take a look again tonight.

[2016-02-19 14:05] k-zakhariy opened #169 "Custom duration when option: html"
When i set 'html' parameter, then duration sets to  --:--
`var player =  plyr.setup(playerSelector, {
                                html: controls,
})[0];`

How i can set duration when i use custom controlls  ?

[2016-02-19 20:13] SamPotts commented on #169
The controls don't effect the duration - the duration comes from the media itself. If you want to display duration, set `duration` to `true` in the config.

[2016-02-20 14:00] phanan opened #170 "player.media.currentTime and the likes are not updated"
I've upgraded from 1.3.x bower to the latest 1.5.x npm version. After the upgrade, I had to make some changes to make things work (naturally), but the biggest problem is, apparently `player.media.xProperty` doesn't get updated during playback anymore.

[code]

[code]
In the second code block, I would expect `currentTime` and `duration`, being the properties of the underlying `audio` element, get u

[2016-02-21 00:26] SamPotts commented on #170
Hey @phanan , sorry about this. Is this after calling `.source()`? If so I did just find a bug with that, the media object is not reset so accessing it like that would still give you info about the old media object. Your example shows a new setup though, which should work.

This is with a basic example.

![image](https://cloud.githubusercontent.com/assets/719092/13200084/b3685366-d88d-11e5-98f9-3e

[2016-02-21 01:29] #163 closed

[2016-02-21 01:30] SamPotts commented on #162
Thanks for your fix, can we close this one now?

[2016-02-21 01:33] gurupras commented on #162
Not quite.
Chrome still plays captions natively whereas plyr goes down a code path
that thinks it cannot play them natively.
I'm not sure if that's okay or if it makes more sense to have it render
natively.. (Perhaps there are some performance implications?)
I'll leave that decision to you.
On Feb 20, 2016 8:30 PM, "Sam Potts" <notifications@github.com> wrote:

[2016-02-21 01:49] SamPotts commented on #162
The problem seems to be that Chrome decides it doesn't want to fire a cuechange event after doing it twice. Safari and Firefox have some pretty tragic bugs in this area too. It might be better to manually render them for everything which is a shame, I guess it's not important for the browser developers :-1: I'll keep digging.

[2016-02-21 03:15] SamPotts commented on #162
Found the issue - my demo webVTT file didn't pass validation and the browsers don't seem to communicate these issues, they just fail silently - awesome.

Found a good validator and added it to the docs:
https://quuz.org/webvtt/

Done a quick test in the various browsers, Firefox still doesn't support the `cuechange` event - [a bug has been raised](https://bugzilla.mozilla.org/show_bug.cgi?id=10331

[2016-02-21 03:15] #162 closed

[2016-02-21 03:24] phanan commented on #170
@SamPotts Yes, it's after `.source()`, good catch ;)
And yes, your example is exactly what I'm using as a workaround now. Still, it's not optimized, isn't it? Imagine having to query the selector with every `timeupdate` event…

[2016-02-21 03:35] SamPotts commented on #169
You can specify a custom duration if you need to over ride the one coming from the media file now if you need to using the `duration` option:
https://github.com/Selz/plyr/blob/master/readme.md#options

[2016-02-21 03:35] #169 closed

[2016-02-21 03:36] SamPotts commented on #164
Hey, sorry for the delay with this. You can now add a duration option either using the usual options object or using a data attribute (`data-plyr`) which I just added support for, obviously it needs to be JSON formatted so you need to wrap the JSON in single quotes in your markup.

https://github.com/Selz/plyr/blob/master/readme.md#options

[2016-02-21 03:36] #164 closed

[2016-02-21 03:39] SamPotts commented on #170
If you need the duration, you'll probably want to listen for the `loadedmetadata` as well. Unfortunately you have to wait for this to load - there's no way to predict how long the media is without this occurring. It's usually pretty fast though.

I've fixed the `.source()` API to reset the media object on change so potentially your original issue is resolved.

[2016-02-21 03:39] #170 closed

[2016-02-21 06:30] phanan commented on #170
Great! Thanks!

On Sun, Feb 21, 2016 at 11:40 AM, Sam Potts <notifications@github.com>
wrote:

[2016-02-21 06:57] phanan commented on #170
Hmm... Actually, does that imply the media object is "reset" with every call to source? This would destroy any custom uses on the orginal object, for example if you have audio effects set up on it, they will be gone.

[2016-02-21 07:01] phanan commented on #170
I can confirm the issue above. In my app, I have a 10-band equalizer connected to an `<audio>` element. If I set the source with `player.source()`, the bands are disonnected (since the `audio` element is reset) and thus the effects are gone. If I manually set the source directly on `player.media.src` instead, the effects are kep.

[2016-02-21 07:13] SamPotts commented on #170
Yeah you can do that if you need to retain the same element. Sounds like the `.source()` api method is probably no use to you unless you want to re-set the binding in your call to `.source()`. I could maybe look at not changing the element unless it's a different type.

[2016-02-21 09:01] phanan commented on #170
Just curious, and sorry for my ignorance, but why does the element need to be changed? I have a feeling doing so is prone to even more problems than what I've just mentioned.

[2016-02-21 09:05] SamPotts commented on #170
It was requested that the source method should allow changes of type (e.g. audio to video). To allow for this, I remove the element and replace it. Like I say, I can look into retaining it if it's the same as the new type. It shouldn't be too hard.

[2016-02-22 12:40] ronag commented on #164
@SamPotts: Awesome! Thanks.

[2016-02-25 08:32] SamPotts opened #171 "Volume set to 0 if fresh user"

[2016-02-25 08:35] #171 closed

[2016-02-26 09:34] dostaljak opened #172 "Multiple instances of plyr in IE 11"
After the initialization of the player, only the last matching div on a page is actually affected. This problem is only in IE 11 and lower.

[2016-02-26 10:42] Ambroos commented on #172
Hi! It seems to have something to do with relying on CustomEvent. IE doesn't support it properly (Edge does). Adding the CustomEvent polyfill found [here](https://developer.mozilla.org/en-US/docs/Web/API/CustomEvent/CustomEvent#Polyfill) is a good temporary workaround until this gets fixed in Plyr itself.

[2016-02-27 15:48] ronag commented on #39
@SamPotts: We're looking into using plyr in our projects. We have no need for streaming right now but we will in the not to far future. What is your recommendation, should we use plyr and hope for HLS support or should we choose something else (e.g. clappr).

I'm not looking for any promises just want some clarification on the intentions/roadmap.

[2016-02-27 23:06] ronag opened #173 "Force aspect ratio?"
Is there a way to force the aspect ratio of the container?

I could make the plyr container force an aspect ratio however the controls mess things up...

[2016-02-27 23:30] SamPotts commented on #39
Hey @ronag , it's something I *want* to do but struggling to find the time to devote to it at the moment. I know there's dash.js but wasn't aware of hls.js. I'll take a look at that. It's hard to say when it'll be done given the nature of the project is basically whenever I get free time at the moment :-(

[2016-02-28 00:13] SamPotts commented on #172
Hey guys, sorry this was missed in my testing. It's strange that it's throwing an error. I did add a `CustomEvent` polyfill but didn't realise that the issue with IE is that `CustomEvent` is an object when it should be a function so the check should be more specific like the MDN polyfill.

I'll update it now.

[2016-02-28 00:22] #172 closed

[2016-02-28 00:27] SamPotts commented on #173
Hey @ronag, this is certainly possible but using CSS would probably be the best approach - much like the responsive iframe embed method (height: 0, padding-bottom: 56.5% and absolute positioned iframe to give you 16:9). What happens with the controls when you try to do it?

[2016-02-28 01:29] ronag opened #174 "Old request continues to download"
I don't think old requests are properly cleaned up when changing sources, i.e. I can see in the Chrome Dev Tools that they continue downloading...

In `_updateSource`, instead of just doing:

[code]

I think the following is required:

[code]

[2016-02-28 01:36] ronag commented on #174
Likewise in destroy

[2016-02-28 01:47] ronag commented on #173
Well, if I do it externally then the controls are included in the aspect ratio calculation, which then is wrong...

[2016-02-28 01:49] SamPotts commented on #173
There's a video container div which may be useful. I've been meaning to make an option for auto hiding controls so they can be included in the aspect ratio and sit on top of the video like most other players but it's on the back burner at the moment.

[2016-02-28 01:50] #174 closed

[2016-02-28 01:52] SamPotts commented on #174
I've fixed this for the source api but with destroy the intention there is to return the player to it's "default" state, e.g. back to a native UI'd player. In my mind that would mean you wouldn't want to remove the sources there? I could make it an option of course though?

[2016-02-29 00:17] ronag opened #175 "Keep showing poster until play not only until load"
Clappr does this and it's a much more reasonable behaviour.

[2016-02-29 00:19] SamPotts commented on #175
Hey @ronag, unfortunately this is a browser issue, not a plyr one. The poster display is handled by the browser itself - might be worth submitting this to Chrome, etc for review? I wouldn't want to get into the realms of changing this behaviour really.

[2016-03-03 05:19] shakeelmohamed opened #176 "Expose the YouTube API player object"
We want to use Plyr for @zen-audio-player because of the great work you've done on the UI. However, we need to access the YouTube API player object directly and we don't see how that's possible without some changes to Plyr (please correct me if I'm wrong).

We are open to sending a PR if that will help speed things up. The methods we currently access directly on the player object are:

* `getCurre

[2016-03-03 21:45] SamPotts commented on #176
Hey @shakeelmohamed, this is definitely possible and should be a small change, I'll try and do it this weekend. :+1:

[2016-03-03 21:54] shakeelmohamed commented on #176
:tada:

[2016-03-06 08:41] phanan opened #177 "Bug with duration bubble if the audio duration can't be determined"
I've noticed today that if the audio duration can't be determined (for example, when playing from a transcoded source), the duration label is messed up:

![image](https://cloud.githubusercontent.com/assets/8056274/13553154/f5f9a518-e3b9-11e5-92a5-d093547947ba.png)

In this example, I have the song served directly from a ffmpeg transcoding stream.

Version: 1.5.13 npm.

[2016-03-06 08:47] phanan opened #178 "Seeking support on mobile"
Currently it's apparent that you can't drag or click the progress bar to seek (fast-forward/rewind) on a mobile device – even the example of https://plyr.io/#audio doesn't work. Is it something you can support in a next release?

Thanks for the amazing lib, as always.

[2016-03-06 10:45] SamPotts commented on #178
Hey @phanan , this is a bug with the mobile browser implementation of the `<progress>` element and not the fault of Plyr. It just uses regular elements after all. I can look at something to perhaps "fix" the browser bug but it might be better as a polyfill outside of Plyr itself. It's a shame they haven't implemented it properly given the pressure to use the correct elements for semantics. It's fr

[2016-03-06 10:46] SamPotts commented on #178
I'll give this a test:
https://github.com/dwyl/range-touch

[2016-03-06 10:54] phanan commented on #178
May I suggest https://github.com/andreruffert/rangeslider.js? I'm using it in the same project with very good result.

[2016-03-06 10:57] SamPotts commented on #178
That looks to be more of a polyfill for older browsers whereas we really need a fix for just touch devices compatibility. It doesn't seem to be an issue on desktop browsers.

[2016-03-06 11:02] phanan commented on #178
I guess you're right. A lightweight touch-only polyfill would fit better in
this case.
Thanks for looking into this!

On Sun, Mar 6, 2016 at 6:58 PM, Sam Potts <notifications@github.com> wrote:

[2016-03-06 11:02] SamPotts commented on #177
I should probably check if duration has been set. Thanks for this. I guess the progress bar is probably redundant as well then.

[2016-03-06 11:05] phanan commented on #177
I'd sugges then to add something like a `plyr-unavailable` (for the lack of a better name) class instead of hiding/removing it entirely, so that users can style as they deem fit.

[2016-03-06 11:06] phanan commented on #177
Which can, by default, hide the bar away of course.

[2016-03-06 11:07] SamPotts commented on #177
Sounds good. I'm going to be looking at some UI improvements soon so I'll add this to the list.

[2016-03-07 11:31] SamPotts commented on #176
Just pushed a change for this. You can access the API through `element.plyr.embed.getVideoData()` for YouTube and Vimeo through `element.plyr.embed.api('play')` :+1:

https://github.com/Selz/plyr/releases/tag/v1.5.17

[2016-03-07 11:31] #176 closed

[2016-03-07 18:25] shakeelmohamed commented on #176
Awesome! Thank you so much for doing this quickly @SamPotts

[2016-03-07 22:02] SamPotts commented on #176
Sorry if I was unclear, basically the `embed` property is a direct mapping to the respective api's. So all the methods for YouTube, such as `.getVideoData()` are available on that property. Vimeo uses `.api('method')` and is exposed in a similar way.

Don't forget a lot of these methods are available in the standardised API methods built into Plyr.

[2016-03-12 01:36] BlinkBP commented on #176
@SamPotts  I can't get the `embed` property after changing the source with element's `.source()`. I see that `embed` is nullified in `_updateSource()` in Plyr's code but is it re-referenced somewhere later on?

[2016-03-12 17:43] evalation opened #180 "Update Current time and Duration CSS class selectors in controls.md"
In the HTML example with all controls, the CSS class selectors for current time and duration have changed.

.plyr__current-time should be .plyr__time--current

.plyr__duration should be .plyr__time--duration

Thanks!

[2016-03-13 10:46] #180 closed

[2016-03-13 10:46] SamPotts commented on #180
Thanks for this :+1:

[2016-03-14 06:58] ruhong65 opened #182 "how can create a Multiple language captions (with selection)"
<track kind="captions" label="English" srclang="en" src="http://hsbc.splashinteractive.com.cn/testp/View_From_A_Blue_Moon_Trailer-HD.en.vtt" default>

                        <track kind="captions" label="Chinese" srclang="cn" src="http://hsbc.splashinteractive.com.cn/testp/View_From_A_Blue_Moon_Trailer-HD.cn.vtt" default>

it's not work , can anybody help me on this?

[2016-03-14 14:42] ncnkg opened #183 "Vimeo on iPad"
Embedded Vimeo Videos can't be played on iPad. Any solution on this?

[2016-03-14 22:25] SamPotts commented on #182
Hey @ruhong65 , sorry this isn't currently support but is on my to-do list.

[2016-03-16 21:17] calvintam236 commented on #157
@SamPotts I just updated the code with your new version, and source using data URI stuck at forever loading status. There is no error message under `plyr.media.error`, and empty `src` at `plyr.media.src`. Confirmed that data URI is entered into `source()` inside an array in `sources`.

My repo: https://github.com/calvintam236/media-plyr

[2016-03-22 13:23] KennedyTedesco opened #185 "Vimeo error"
When using Vimeo I get this error:

![image](https://cloud.githubusercontent.com/assets/999232/13952785/26252d20-f017-11e5-8159-ad67b5d7f492.png)

Changing the order of these methods:

https://github.com/Selz/plyr/blob/master/src/js/plyr.js#L1413

From:

[code]

To:

[code]

The problem is fixed. Any thoughts on this? Thanks!

[2016-03-27 02:08] sanserna opened #186 "plyr.js:376 Uncaught TypeError: Cannot read property 'play' of undefined"
I'm Using plyr to embed a video from youtube but when I initialize using `plyr.setup();` always get the same error, I want the player to show the controls, I already load the svg file as the documentation says, but the error is blocking the controls visibility, how can i fix de error?????

[2016-03-27 07:30] #185 closed

[2016-03-27 07:31] SamPotts commented on #186
Fixed in the latest build. Thanks for reporting :+1:

[2016-03-27 07:31] #186 closed

[2016-03-27 07:31] SamPotts commented on #183
I'll look into this ASAP. Sorry for the delay.

[2016-03-27 12:12] KennedyTedesco commented on #185
@SamPotts Thanks for your time!

[2016-03-29 23:03] cinghaman opened #187 "Can't get vimeo working + how to have controls like demo"
http://amancingh.com/tether/vimeo.html  demo test
And if you will see the player in bottom have controls dont have cursor: pointer how can i change that?

[2016-03-30 20:44] prateekkathal opened #188 "VAST Compatibilty"
Hello,

Is the player VAST Compatible? If yes, where can I get the documentation for it? If no, are you planning on it? When do you think you'll be able to release it?

Waiting....

Thanks,

[2016-04-01 08:26] shakeelmohamed opened #189 "Add support for YouTube player's onError event"
Hi @SamPotts,

We're really close to having Plyr integrated to Zen Audio Player! One of the few things remaining is error handling. Currently we're able to display the error to the user, which is usually helpful.
To me, it makes sense to expose this with the `error` event - but I could imagine a special `youtubeError` event as well. What do you think?

![capturfiles_1](https://cloud.githubusercont

[2016-04-03 14:53] magicspon commented on #186
I'm still getting this error, but only when I use the source method.

[code]

html

[code]

[2016-04-04 07:49] tskkh opened #190 "Need double click to play audio"
Hi,
First of all thanks for this great plugin. Now I'm trying to change the media source when user click to play audio, the media src are changed but when I click button play first time it won't play , it need double click on that button. Does I did something wrong?

This is my code:

[code]

[2016-04-05 05:27] calvintam236 opened #191 "Different behavior for control bar playing YouTube/Vimeo in fullscreen mode"
Once user makes the player fullscreen and plays the YouTube/Vimeo video, the player control bar disappears like it supposed to. Moving cursor to the bottom of the screen do not trigger the control bar to reappear like what it does in the standard video type. Plyr.io demo shows the same behavior.

[2016-04-06 06:57] nandastone commented on #178
@phanan @SamPotts

Tested https://github.com/dwyl/range-touch with no luck, there's currently some bugs in the library as of 1.0.0.

Have you guys made any progress on this?

[2016-04-07 01:17] SamPotts commented on #178
I'll take a look at this on the weekend along with the other bugs raised recently. Should be able to come up with something by setting the input value based on the offset of the touch location. Might make it a separate lib given that it's a browser bug.

[2016-04-07 01:17] SamPotts commented on #188
I'll add it to the list but there's streaming and playlists to get done first

[2016-04-07 01:18] SamPotts commented on #189
I'll create an error callback, yeah. Will get to this on the weekend all going well.

[2016-04-07 01:19] SamPotts commented on #190
Thanks for reporting this. I'll take a look into it this weekend. Cheers :+1:

[2016-04-07 01:20] SamPotts commented on #191
Thanks for reporting this, I'll take a look this weekend :+1:

[2016-04-07 04:45] shakeelmohamed commented on #189
Thank you! :+1:

[2016-04-07 17:07] makeitTim commented on #190
It looks like you are only setting the source when the "play" event is called. So, it setups with no source. You press play the first time, it calls the event play event (even though it has nothing to play, so it probably shouldn't be calling the event?) then it loads your sources. You have to press play again to play the newly loaded sources. Should be able to fix by removing the ... addEventList

[2016-04-08 11:52] vaibhav-jain opened #192 "How to embed YouTube video with auto play video poster"
I want to embed a YouTube video for more details have a look at [this ](http://stackoverflow.com/questions/36496007/how-to-embed-youtube-video-with-auto-play-thumbnail)

I was looking out for a solution and found this repo but wondering how to implement this.

[2016-04-15 09:11] zulhfreelancer opened #193 "Suggestion: add download button inside the player control bar"
When the user click the download icon, they'll download the video straight away into their computer.

If the video is coming from YouTube or Vimeo, we need to think about that so that user can download them too.

[2016-04-15 12:04] AnthyG commented on #193
Tell me if I'm wrong, but I _think_ that's illegal

[2016-04-15 16:30] zulhfreelancer commented on #193
@AnthyG if that's illegal, maybe we can just proceed without YouTube/Vimeo download.

Example:
The .mp4 video is hosting on AWS S3. When users click on the download button, they'll download the video straight away.

[2016-04-15 18:12] AnthyG commented on #193
@zulhfreelancer, Well, by illegal, I mean, that YouTube at it's base, does not allow to download "Files".
(I actually have to say, that I download Videos sometimes)
BUT, that "download-button" would require a Serverside Script I bet, and that means, that the Serverhoster (or whatever), is responsible for all the Videos, the user downloads. And the user can, if he has enough knowledge of using Plyr

[2016-04-16 01:25] SamPotts commented on #190
Sorry I admit I didn't look at the code snippet the first time around. Remove it from the event listener and it should work as expected.

[2016-04-16 01:25] #190 closed

[2016-04-16 01:26] SamPotts commented on #187
Sorry, just going through issues and I can't see your demo page. Did you get this fixed?

[2016-04-16 01:28] shakeelmohamed commented on #193
@zulhfreelancer that seems reasonable. A bool option could be added like `showDownloadButton`. The setting would have no effect for YouTube/Vimeo, but if for an audio/video file conditionally show a download icon in the controls. I'm sure @SamPotts has a valuable opinion on this :smiley:

[2016-04-16 01:34] SamPotts commented on #193
We could certainly add this option for HTML5 video and audio but of course links for YouTube and Vimeo wouldn't be possible. Vimeo offers downloading of *some* videos (opt-in by the owner). YouTube has no approved method.

With regards to adding load, that wouldn't be the case. Since the user is watching the video using progressive download anyway, it would be the same as them watching the whole v

[2016-04-16 08:47] AnthyG commented on #193
@SamPotts Maybe the user could choose, which format to download?
And if the source is a YouTube or Vimeo video, then there could be a "go-to"-link, meaning a redirection to the Video on YouTube or Vimeo.

Maybe :D

[2016-04-16 09:08] SamPotts commented on #178
I just launched this: [RangeTouch](https://rangetouch.com/) - I couldn't think of a better name (originally went with TouchRange but bought the wrong domain hah!) and given that the old lib above hasn't been touched for 2 years I thought it didn't matter too much.

Could someone give it a spin on Windows and Android and report back? I think Mobile Safari was the main issue but it would be good to

[2016-04-16 09:11] SamPotts commented on #193
Sounds like a good solution to me. I'll add it as part of a UI refresh I've been meaning to do.

[2016-04-16 12:35] AnthyG commented on #192
If I understand the question correctly, you want to have one Video autoplaying, and onclick, you want another Video played?
If so, hav'a look at this [http://codepen.io/anthyG/pen/WwJojB].
I tried my best ;)

[2016-04-16 13:10] AnthyG commented on #187
This could be the solution to the answer, though it should be like that already:
[code]

[2016-04-16 13:44] AnthyG commented on #159
I have not used it yet, but maybe this could be used as a base for streaming media: https://webtorrent.io/

[2016-04-17 00:54] cinghaman commented on #187
Hey, no couldnt do it the way it was in demo, had to manually download the videos from vimeo and add it as mp4

[2016-04-17 07:01] monicacheung opened #194 "Support for Soundcloud"
Hi! We are currently in the process of adding support for Soundcloud to Zen Audio Player. One of the things we would need is Plyr to play Soundcloud tracks. We made some changes to plyr.js to play Soundcloud tracks by trackid which we have been using in our PR (zen-audio-player/zen-audio-player.github.io#186). It would be cool if we could get this added to Plyr. :)

[2016-04-17 08:03] AnthyG commented on #187
@cinghaman well I don't think it should be like that! :?

[2016-04-17 21:27] magicspon commented on #58
Hello,

Is it possible to loop videos from vimeo?

cheers

[2016-04-18 16:36] magicspon opened #197 "Warning in firefox when using vimeo"
Hello,

When using vimeo I'm getting the following warning in Firefox.

Cheers

[2016-04-19 06:38] vaibhav-jain commented on #192
Thanks @AnthyG  its exactly what I was looking for . . . . .

[2016-04-19 06:38] #192 closed

[2016-04-19 06:59] shakeelmohamed commented on #194
PR is #196

[2016-04-22 19:57] AnthyG commented on #192
This may be off-topic, but it would be nice, if you would mark [my answer on stackoverflow](http://stackoverflow.com/a/36664465/5712160) as the solution, or whatever it's called, because it actually is my first on there :+1:

Great I could help!! :smiley:

[2016-04-24 20:53] espellcaste commented on #144
Hi, I was testing Plyr just now and this improvement would be great. If one has audio and videos instances in the same page, it doesn't stop one before playing.

[2016-04-27 08:33] magicspon opened #198 "Update NPM version"
The npm version is one version behind.  Any chance you could bring it up to date with the version on git.

Many thanks (belting code!)

[2016-04-28 12:29] SamPotts commented on #198
Just pushed v1.6.0 with a new UI and updated NPM:
https://www.npmjs.com/package/plyr

[2016-04-28 12:29] #198 closed

[2016-04-28 12:29] SamPotts commented on #197
OK will take a look thanks for the report 👍

[2016-04-28 12:30] SamPotts commented on #194
Thanks for this. I just need to merge with my new UI changes in v1.6.0 and we're set 👍

[2016-04-28 12:33] SamPotts commented on #161
Hey - could you give this a check in v1.6.0? I made some changes to the seeking UI which may help this.

[2016-04-28 12:34] SamPotts commented on #178
Could you try adding [RangeTouch](https://rangetouch.com) to your setups and see how you go? You can also test on https://plyr.io 👍

[2016-04-28 12:36] SamPotts commented on #187
Closing this as I can't seem to view your example or really understand the issue. Maybe give the latest version a go?

[2016-04-28 12:36] #187 closed

[2016-04-28 12:38] SamPotts commented on #197
Ah, just taken a look and this is an error with Vimeo's code in `https://f.vimeocdn.com/p/2.24.3/js/player.js` - Might be worth raising it with them

[2016-04-28 12:38] #197 closed

[2016-04-28 12:39] SamPotts commented on #191
This should be fixed in v1.6.0

[2016-04-28 12:39] #191 closed

[2016-04-28 13:26] SamPotts opened #199 "Create a pre v1.6 theme"
Create a theme for those wishing to keep the pre v1.6.0 look and feel

[2016-04-28 16:23] cinghaman commented on #187
Sure no problem, if i need to use it again and have same problem i will post with updated link

[2016-04-28 19:27] shakeelmohamed commented on #194
Great new @SamPotts 🎉

[2016-04-29 05:21] shakeelmohamed commented on #189
@SamPotts sorry to nag, will you be able to get this in the same release as #194? Happy to help out if needed

[2016-04-29 05:42] SamPotts commented on #189
Sure. Will have a crack this weekend.

Sam

[2016-04-29 05:42] SamPotts commented on #189
Sorry just been flat out with work etc

Sam

[2016-04-29 05:44] shakeelmohamed commented on #189
No worries, thanks for the update!

[2016-04-29 08:52] apsolut commented on #199
+1

[2016-04-30 04:26] nandastone commented on #178
Bloody champion @SamPotts

Previously working correctly on a Moto G 3 with Chrome 50.0.2661.89. *Not* working on iPhone 6s with iOS 9.3.

After adding your RangeTouch polyfill both are working like a charm. Thanks mate.

[2016-04-30 10:58] SamPotts commented on #173
Hey @ronag , with the new theme you should be able to use the 56.25% padding, 0 height trick to force 16:9 or another method as the controls are overlaid.

[2016-04-30 10:58] #173 closed

[2016-04-30 11:06] SamPotts commented on #178
Awesome - will close this one for now then 👍

[2016-04-30 11:06] #178 closed

[2016-04-30 12:57] #175 closed

[2016-04-30 13:37] SamPotts commented on #182
Merging this with #143

[2016-04-30 13:37] #182 closed

[2016-05-01 01:08] SamPotts commented on #157
I have looked in this again and just can't understand why it doesn't work using the `source` API. Using the exact same string on initial load is fine but dynamically adding it to the DOM means it just permanently loads.

I don't really understand the benefit of using Base64 for something like this given the downsides of memory usage, increased bandwidth (base64 generally increases file size) and n

[2016-05-01 01:09] SamPotts commented on #89
Closing this as it's a dupe of #157

[2016-05-01 01:09] #89 closed

[2016-05-01 01:19] calvintam236 commented on #157
There are use cases:
1. you want to embed to short video or audio files (e.g. less than 100k) in order to reduce several page requests for small files
2. You want to play the media using file upload without hosting a server. (File protocol would not work, so base64 is the only way to archive that

Have you add exclusion on data URI validation? I know there is one.

[2016-05-01 01:23] SamPotts commented on #157
Not sure what you mean about the exclusion? Do you have a link?

The odd thing is that loading a Data URI on initial load is fine, it's when a source is dynamically added that it just doesn't work. I verified the string is identical too, so it's very weird.

[2016-05-01 01:28] #161 closed

[2016-05-01 01:31] calvintam236 commented on #157
Actually the second paragraph is referring #165. I got mixed up as it was so long time ago.

I think the bug is caused by `source` API change before it wasn't the before that. (Still working around v1.3.2)

[2016-05-01 01:33] SamPotts commented on #157
Well nothing changed regarding adding the source elements to the dom. It basically takes whatever 'src' attribute is specified, adds it to the element, injects it to the DOM.

[2016-05-01 02:53] SamPotts commented on #177
Hey, there's a bug fix for this in [v1.6.2](https://github.com/Selz/plyr/releases/tag/v1.6.2)

[2016-05-01 02:53] #177 closed

[2016-05-01 03:34] SamPotts commented on #59
Hey, there's a bug fix for this in [v1.6.2](https://github.com/Selz/plyr/releases/tag/v1.6.2)

[2016-05-01 03:34] SamPotts commented on #189
Hey, this is in [v1.6.2](https://github.com/Selz/plyr/releases/tag/v1.6.2)

[2016-05-01 03:34] #189 closed

[2016-05-01 03:34] #59 closed

[2016-05-01 03:34] SamPotts commented on #194
Hey, this is in [v1.6.2](https://github.com/Selz/plyr/releases/tag/v1.6.2)

[2016-05-01 03:34] #194 closed

[2016-05-01 04:08] shakeelmohamed commented on #194
Awesome, thanks a ton @SamPotts! @monicacheung you've got work to do 😀

[2016-05-01 04:22] SamPotts commented on #194
I didn't play around with it too much. I noticed in the SoundCloud API docs, to play "direct" without using their player would require an API key. Something to look at later on I think.

[2016-05-01 04:39] shakeelmohamed commented on #189
@SamPotts Excellent, the code change looks usable!
I just updated to v1.6.3, and I'm seeing these issues:

1. `plyr.js:2222 Uncaught TypeError: Cannot read property 'bar' of undefined` is breaking the whole thing, I think changing the `else {` on line 2221 in `src/js/plyr.js` to `else if (progress) {` should take care of that.
2. The CSS redesign for audio players 100% broke our usage 😅 , see the

[2016-05-01 05:02] SamPotts commented on #189
I've already raised an issue to create the older theme for anyone that wants to use it. Styling should be kept separated from the JS so this will be a CSS change. In terms of a workaround, you'd have to hack around the LESS to get it presentable. Sorry, it was a improvement for most but I can understand the frustration of the UI change. I'll make a start on it now and maybe finish it today.

[2016-05-01 05:02] SamPotts commented on #199
+1 from @shakeelmohamed

[2016-05-01 05:04] SamPotts commented on #189
Pushed v1.6.4 with a fix for the progress issue

[2016-05-01 05:07] SamPotts commented on #189
Are you using like YouTube and hiding the video? Hmm I've not thought about that but I guess that could be a use case for others too.

[2016-05-01 05:09] shakeelmohamed commented on #189
Yeah, that's the whole premise of Zen Audio Player 😆  I actually hacked over some of the CSS (for now) from the `.plyr__audio .plyr__controls` rule and made them all `!important` under  `.plyr__controls` to get something working. In that case, we actually don't need a different theme, just way to render a video player as if it's an audio player

[2016-05-01 08:12] franceer commented on #161
I checked with a delay sorry. Yeah it seems so much better ! I like the new interface of the player btw. Good jobs and thank you.

[2016-05-01 09:22] SamPotts commented on #189
OK well a couple of others have asked for the old theme so I'll just make that and it'll be two birds with one stone as it were...

[2016-05-01 09:28] SamPotts commented on #161
Awesome - thanks for getting back to me 👍

[2016-05-02 03:02] phanan commented on #177
You're the man!

[2016-05-06 10:23] robinpoort opened #201 "CSS duplicate selectors"
I found two duplicate selectors in both the less and scss files:

The first one:
https://github.com/Selz/plyr/blob/master/src/scss/plyr.scss#L79-L81
and
https://github.com/Selz/plyr/blob/master/src/scss/plyr.scss#L110-L112

Second one:
https://github.com/Selz/plyr/blob/master/src/scss/plyr.scss#L449-L456
and
https://github.com/Selz/plyr/blob/master/src/scss/plyr.scss#L458-L464

Same goes for .less

[2016-05-06 10:40] robinpoort commented on #201
I went ahead and created a PR :)

[2016-05-07 14:28] CSCG commented on #98
@SamPotts Wouldn't they just bind the same .js-plyr-controls to multiple elements on the page? Or does that assign a unique player to each?

[2016-05-08 19:37] JamesGeiger opened #203 "Serious playback issue in Chrome"
I have an issue that only occurs in Chrome (latest version) - it does not occur in FireFox/Opera. I'm not sure if this is related to Plyr or not.

The WordPress site I have locally uses some jQuery logic to build out slides and each slide has a quiz that is displayed where there are questions with true and false answers.

Clicking on an answer, regardless of whether it is true or false, triggers a

[2016-05-09 10:58] magicspon commented on #183
Any news on this issue?

[2016-05-10 00:03] SamPotts commented on #183
I've been trying to get to the root of it but can't seem to work out what's causing it. It seems to be an issue for YouTube as well. Still looking at it, it's my next priority.

[2016-05-10 14:01] shinze opened #205 "Missing sound control slider in IE"
On IE11 the slider allowing to control the sound level is replaced by an icon to stop | start the sound.
![Sample screenshot of  the plyr wbsite](https://cloud.githubusercontent.com/assets/218396/15149042/4bbcf82e-16c8-11e6-93a9-6de71c2ea32f.png)

[2016-05-10 14:02] emmanuelclement opened #206 "Volume cursor invisible on IE11+"
This problem is already visible on https://plyr.io/ (volume cursor on video and audio)

[2016-05-10 14:46] emmanuelclement commented on #206
Seems like adding display: flex and flex: 1 to this definition fix the problem :

@media(min-width:768px) {
  .plyr .plyr__volume{
    max-width:100px
  }
}

[2016-05-11 01:48] mattmurtaugh opened #208 "Forcing the player to start at a specific position?"
I'm working on a project that keeps track of how far along a user is on the video, and pushing that information to the database every 5 seconds.

I'm unable to get the seek method to work without input from the user. I am able to have a link that calls the seek method, and that works fine, but when I try to call the seek method when the file loads, nothing happens.

This works:

`$('.seek').click(

[2016-05-11 02:44] mattmurtaugh commented on #208
After playing around with this for a little while I found that if I set a very short delay, I don't have any issues with this at all. It's working like I want it too, but is there a better way to accomplish this than waiting 300 milliseconds before triggering the seek method?

[2016-05-12 11:08] emmanuelclement opened #210 "Video: tooltips hidden on IE11"
On Internet Explorer 11, buttons are natively overflow:hidden (see user-agent CSS on http://www.iecss.com/ ).
(No overflow specified on IE Edge so you can see the tootips.)

Buttons are overflow:visible on others browsers.

note: normalize.css set overflow visible on button and input.

I'll make a pull request soon today to fix it.

[2016-05-12 13:47] emmanuelclement opened #212 "(IE 11 & edge) Scrollbar on video when overflow auto/scroll appears"
(Relative to issue #210 and its fix #211)

On IE Edge (and IE 11 if you fix #210 with request #211), if you insert a video in a parent which is set overflow: auto/scroll, an horizontal scrollbar appears.
(try to set overflow: auto on <section> on https://plyr.io/ )

The reason is that the .plyr__tooltip (in the .plyr__controls) go over the edges of the video.
No left or right position are fixed, a

[2016-05-12 13:54] SamPotts commented on #212
Using left/right positioning wouldn't be ideal as it would mean the tips were either left or right aligned or you'd have to fix the width and use negative margins. Using `translate` (it's not `scale`) means its always center aligned based on the content. The overflow is not ideal I know and I've come up against this in full screen mode also. A possible solution might be to do custom styling for th

[2016-05-13 14:53] SamPotts commented on #210
Merged this, cheers!

[2016-05-13 14:53] #210 closed

[2016-05-13 14:55] SamPotts commented on #208
You might be able to listen to the 'ready' event and then make the call to `seek`?
https://github.com/Selz/plyr#events

[2016-05-13 14:55] SamPotts commented on #205
This should be resolved now

[2016-05-13 14:55] #205 closed

[2016-05-13 14:56] SamPotts commented on #201
Merged this 👍

[2016-05-13 14:56] #201 closed

[2016-05-13 19:01] calvintam236 opened #213 "Cannot change source in iPhone"
While I am testing using iPhone screen size, I got this error when I try to click on "Audio" or other tabs.

Chrome:
```plyr.js:1 Uncaught TypeError: Cannot read property 'buffer' of undefined```

Safari:
[code]

[2016-05-13 22:57] #213 closed

[2016-05-13 23:18] SamPotts commented on #213
Fixed in latest version - thanks for reporting 👍

[2016-05-14 10:24] calvintam236 commented on #157
Tested v1.6.8, and it works on Firefox. Chrome and Opera are not working. While debugging, I check the ```media.networkState``` value, and I get ```3```. Maybe it is an issue on webkit core?

[2016-05-14 10:29] calvintam236 commented on #165
@SamPotts any update on this? I reviewed the code, and it seems its an easy enhancement.

[2016-05-14 10:55] calvintam236 opened #214 "Vimeo videos in fullscreen is not align to the center"
It is currently align to the top of the screen. Found on Chrome, Firefox with v.1.6.8.

![screen shot 2016-05-14 at 3 51 33 am](https://cloud.githubusercontent.com/assets/6436149/15268036/b1ed9056-1987-11e6-80a4-11b22ce357b3.png)
![screen shot 2016-05-14 at 3 51 59 am](https://cloud.githubusercontent.com/assets/6436149/15268037/b209927e-1987-11e6-843c-a914f0791db1.png)

[2016-05-14 11:51] SamPotts commented on #214
Yeah I noticed this recently. It's because we have to do something funky to hide the Vimeo controls as they have no option like YouTube. Will investigate with the track API issue.

Sam

[2016-05-14 19:03] koyin opened #215 "Video player will not auto resize after changing source on iPhone"
While playing video loaded from `src` of the `<video>` tag, it's fine and the player will resize according to screen resolution.

![img_1820](https://cloud.githubusercontent.com/assets/6348675/15270202/4f2af608-1a49-11e6-9607-5c8ac0674f0d.PNG)
![img_1821](https://cloud.githubusercontent.com/assets/6348675/15270205/5c999f24-1a49-11e6-9132-31677e4da94e.PNG)

But after I load a new source using `plyr

[2016-05-15 09:57] SamPotts commented on #215
This isn't really a bug with Plyr as such. As custom UIs for HTML5 video are not fully supported on iOS, no styles are added for it in Plyr. I'd recommend adding the following standard CSS for images, videos and audio to your build if you don't have it already:

[code]

You'll see the docs have something similar.

[2016-05-15 09:57] #215 closed

[2016-05-16 02:28] #214 closed

[2016-05-16 18:11] donnygunawan93 opened #218 "Video quality options (HTML5, YouTube, Vimeo)"
please add video quality option for youtube

[2016-05-17 13:32] hookro opened #219 "Thumbnail video preview"
Could you make a thumbnail video preview?

[2016-05-17 14:25] 0xsven commented on #48
Any solution to this? It looks very laggy with a 12 seconds video.

Can you update the progress bar more often somehow?

[2016-05-17 16:37] thelamborghinistory opened #220 "Quality option for html videos?"
First of all I just want to say I came here from PH and I instantly fell in love with this player (not only I have a crush on it but it also came up at the perfect time on my screen ;)). So big kudos to you guys.

However, I am curious if it's possible to integrate an option to switch quality of a video like YouTube has (I think half of the functionality for such a feature is already done with the

[2016-05-17 17:59] CodeBrauer opened #221 "Allow parent scroll when reaching ends of volume slider"
Like in the newest [youtube player](https://www.youtube.com/watch?v=TRL7o2kPqw0) - when you scroll on the volume slider, you can control the volume with your scroll wheel.

This would be a neat detail feature.

[2016-05-17 19:14] prock13 commented on #188
@SamPotts: I also would like to deliver pre-rolls with your player and can code.  So I took your player and attempted to add pre-rolls using Google's IMA HTML SDK (https://developers.google.com/interactive-media-ads/docs/sdks/html5/).

So far I have a working prototype that delivers the prerolls in an adContainer absolutely positioned above the player and once the ad ends, it hides the container a

[2016-05-17 21:41] calvintam236 opened #222 "Plyr does not rescale YouTube/ vimeo videos in full screen when the screen height decreases"
When plyr is playing YT/vimeo video in fullscreen, and screen heigh decreases, the video itself does not rescale. Tested and confirmed on Firefox & Chrome.

Expected (regular video):
![screen shot 2016-05-17 at 2 38 47 pm](https://cloud.githubusercontent.com/assets/6436149/15340205/1f27445c-1c3d-11e6-9158-6d3127d50d7d.png)

YouTube/ Vimeo videos:
![screen shot 2016-05-17 at 2 40 02 pm](https://clo

[2016-05-17 22:00] calvintam236 opened #223 "Recommend using data URI for iconUrl"
I just tested on my copy, and it works with data URI on iconUrl option. For 4kb, it is definitely better to use data URI as there is no cross origin issue or a separate network request. Please update the doc to suggest this better method.
You may also consider to set it as a default value in plyr.js.

Attached data URI for svg file in 1.6.11.
[code]

[2016-05-17 23:02] SamPotts commented on #223
This might be better as a suggested value in the docs. For most people (including myself), I use other SVG icons and combine them all into a sprite which is loaded asynchronously, this is something I would recommend over adding bulk to the core library. The cross origin issues are annoying but that's something that will probably get ironed out over time and then it will be possible.

[2016-05-17 23:08] SamPotts commented on #48
HTML5 and Vimeo players progress elements are updated based on the 'progress' event from the media element - the rate of which can't be sped up. Were you referring to a YouTube player?

[2016-05-18 08:35] quarryman opened #224 "Can Vimeo video be inserted using just HTML player markup without need to call player.source method?"
Hello. Is there a way to use player markup to play Vimeo video without setting source with js API?

[2016-05-18 08:36] SamPotts commented on #224
Yeah, for sure. Check the docs. https://github.com/Selz/plyr#html

[2016-05-18 08:36] #224 closed

[2016-05-18 08:36] SamPotts commented on #222
Will take a look, cheers 👍

[2016-05-18 08:37] SamPotts commented on #220
For sure - I will look into how this can be done. 👍

[2016-05-18 08:37] SamPotts commented on #218
Will do. good idea 👍

[2016-05-18 08:39] SamPotts commented on #221
This shouldn't be too hard to implement. Will take a look.

[2016-05-18 08:39] #206 closed

[2016-05-18 08:39] quarryman commented on #224
Super fast reply. Thanx

[2016-05-18 08:45] SamPotts commented on #188
Sorry I've not gotten around to this. It's hard to find the time and to prioritise everything.

In regards to your issues:
- You can use the api to play the video after the ad has finished. There's a few methods that might be useful there.
- You can use the api also for this. Calls to the `source` method will change the player. The only problem I can foresee is the need for an original element but

[2016-05-18 15:12] dineshb-qa opened #225 "If we right click on video player then 'Show controls' option is visible, if we select that then basic HTML5 player controls along with custom player controls are visible"
**Steps to Reproduce**

1. Hit the URL : https://plyr.io/#video
2. Right click on the player
3. Observe that options like : 'Loop', 'Show controls' etc are visible on player
4. Now select the 'Show controls' option
5. Observe that : Basic HTML5 player controls along with custom player controls are visible for video player

**Expected Results** :

1. 'Show controls' option should not be visible whe

[2016-05-18 19:52] johnyeye commented on #225
add this to your video tag , oncontextmenu="return false;"

[2016-05-18 20:56] prock13 commented on #188
Thanks for the reply.  So I setup a much simpler example using only Vimeo in this case (because we have a Vimeo Pro account and that's what I need to get working).

In regards to my points, after correcting how I was getting the instance of the player, I was able to use the API to play the Vimeo video after the ad completes.  The other issue I had is that I was trying to create a listener for when

[2016-05-18 21:18] prock13 commented on #188
This does not work for me:

var player = document.querySelector('.js-media-player').plyr;
player.addEventListener('ready', function() {
    var player = event.target.plyr;
});

I get a type error.  Any ideas why?

[2016-05-18 22:48] SamPotts commented on #188
Sorry that's a typo in the docs - try adding `event` as an argument to the callback.

[code]

[2016-05-18 22:53] SamPotts commented on #225
There's something about killing the context menu that doesn't feel good to me. There are other options in there that user may find useful. I'll look into using shadow DOM selectors to hide the default controls.

[2016-05-19 01:33] prock13 commented on #188
That works but I'm still not sure how to set an eventListener for when the video ends (in this case Vimeo if it's different that YT or regular video).  Mind modifying the event example above to listen for "ended"?

[2016-05-19 01:34] prock13 commented on #188
Also, as you can see here: http://dev.salvogroup.co/plyr-master/examples/vimeo/
It's working now.  But in the console I'm seeing an error "TypeError: Se.progress is undefined" any idea why?

[2016-05-19 01:34] SamPotts commented on #188
I think it would just be using the `ended` event:

[code]

Did you try that and no luck?

[2016-05-19 01:40] prock13 commented on #188
No luck on that...

[2016-05-19 01:47] SamPotts commented on #188
The buffer error I will fix very shortly.

I think the docs were incorrect here. I will update but try this code:

[code]

The change is that events fire on the container, rather than the `plyr` object so you can't bind to that. Try that instead?

[2016-05-19 01:48] SamPotts commented on #188
Ah no the docs were correct - I just didn't relay it correctly 👍

[2016-05-19 01:59] prock13 commented on #188
That worked!

[2016-05-19 02:46] Morganjackson opened #228 "Styling issues when using less"
I keep seeing what appears to be two styles for the progress inputs:

<img width="1377" alt="screen shot 2016-05-19 at 12 43 56 pm" src="https://cloud.githubusercontent.com/assets/833805/15381061/6adc743e-1dbf-11e6-9717-85ce14740179.png">

(same player with some margin added to make it easier to see)

<img width="1383" alt="screen shot 2016-05-19 at 12 31 11 pm" src="https://cloud.githubuserconten

[2016-05-19 02:50] SamPotts commented on #228
Hey Morgan,

That's very odd given that CSS is just the LESS files built and deployed. What are you using to build the LESS? I had this issue when I wasn't using Autoprefixer (which I'd recommend using if you're not already) so it could be and probably is, that. If you can't use the Autoprefixer lib, then anywhere you see `appearance: none` you'll need to add prefixed versions manually - this woul

[2016-05-19 02:50] #228 closed

[2016-05-19 03:02] Morganjackson commented on #228
Wow thanks for the fast reply!

Adding Autoprefixer fixed the issue.

[2016-05-19 03:02] SamPotts commented on #228
Awesome 👍

[2016-05-19 10:32] epnlespieux commented on #208
@mattmurtaugh i am very interested by this feature : i would like to split a long interview into small pieces with a direct acccess to the particular part as we can do with youtube. Can you show some code  for me to begin please ?
(sorry for my poor english, french am I)

[2016-05-19 13:00] anupamabhise14 opened #229 "Even though audio is mute displays tool tip as "Toggle Mute" as well as player is in full screen mode displays tool tip as "Toggle Full screen""
**Steps to reproduce**
 - Hit the URL : https://plyr.io/#video
 - Player launches successfully.
 - Now let the video playback.
 - Now hover the volume icon and full screen icon
 - It displays tool tip for Volume icon as **Toggle Mute**  and for full screen icon displays tool tip as **Toggle Full screen**

***Actual Result***
 - Even though **volume is mute/unmute displays same tool tip as "Toggle

[2016-05-19 13:04] SamPotts commented on #229
Sorry, not sure if they are bugs? They are toggle buttons and you are toggle the state of mute or fullscreen. If they were regular buttons, it would be 'enter/exit fullscreen' and 'mute/unmute'.

[2016-05-19 14:58] dineshb-qa opened #230 "[Video][YouTube][Vimeo] In full screen mode the 'Toggle Fullscreen' tooltip text get slighted cut"
**Steps to Reproduce**

1. Hit the URL : https://plyr.io/
2. Go to Video / YouTube / Vimeo player tab
3. Click on 'full screen' option in order to move to full screen
4. Now mouse hover on 'full screen' option
5. Observe that : In full screen mode the 'Toggle Fullscreen' tooltip text get slighted cut

**Expected Results** :
In full screen mode the 'Toggle Fullscreen' tooltip text should get displa

[2016-05-19 15:18] dineshb-qa opened #231 "Fullscreen option takes time to load for YouTube and Vimeo player as compare to Video player"
**Steps to Reproduce**

1. Hit the URL : https://plyr.io/
2. Go to Video player and observe that 'fullscreen' control is loaded along with other player controls
3. Now, go to YouTube player and observe that 'fullscreen' control is not loading/displayed along with other player controls. It takes few seconds to load
4. Now, go to Vimeo player and observe that 'fullscreen' control is not loading/disp

[2016-05-19 17:14] hookro commented on #219
?????????????

[2016-05-19 17:15] hookro commented on #219
...

[2016-05-19 20:42] hookro commented on #46
I've created a little snippet to catch displayed seek onHover :dancer:
[code]

[2016-05-19 20:48] SamPotts commented on #230
Someone had raised this previously - I'll take a look 👍

[2016-05-19 20:50] SamPotts commented on #231
The time to load is the Vimeo or YouTube API's loading. There's no point showing the fullscreen action unless it can be used?

[2016-05-19 20:57] mattmurtaugh commented on #208
I tried to listen for the 'ready' event, but it doesn't seem to be work how I thought it would when I first tried it. When I'm done with the project, I might revisit this idea.. But for now here is my solution:

`setTimeout(function(){
	player.seek(starttime);
},300); `

Replace 'starttime' with a variable that contains your start time or the time itself. You may also need to adjust the 300 millis

[2016-05-19 21:04] SamPotts commented on #46
Cool! You might want to use MutationObserver rather than DOM events given the performance benefit:
https://developer.mozilla.org/en/docs/Web/API/MutationObserver

[2016-05-19 21:08] SamPotts commented on #219
Sorry, could you be a little more impatient? There's plenty of other issues to attend to as I'm sure you can see. You're not the only one around here...

If you're going to raise an issue, at least put some effort into an explanation. A thumbnail where? There's poster image functionality baked right into the HTML5 elements. If you mean in the seek tooltip like YouTube does, then you'd need to do s

[2016-05-19 21:09] #219 closed

[2016-05-20 00:02] extensionsapp opened #232 "Not work fullscreen"
Hello.

Play -> Fullscreen -> :(

https://jsfiddle.net/57sv2k09/

[2016-05-20 00:22] SamPotts commented on #232
It appears the `<iframe>` that jsfiddle uses doesn't have the required `allowfullscreen` attribute. If you add this in the dev tools it works. As far as I can tell there's no real failsafe way to detect that the parent iframe has this attribute set.

[2016-05-20 00:55] weilinzung opened #233 "Can youtube and Vimeo use custom cover overly?"
Can youtube and Vimeo use custom cover overly? like a image on the top of the video, then click the play button, it will load and play the video.

Thanks.

[2016-05-20 01:36] extensionsapp commented on #232
Why does not the player takes all the space without a horizontal scrollbar?

test.html
[code]

![Scr](http://s017.radikal.ru/i434/1605/61/ec85d48ccbb2.png)